---
excerpt: stanfordcourt.com
parent: home
title_localized:
  en: Hotel Rooms in San Francisco | Hotel Suites | Stanford Court Hotel
label_localized:
  en: Rooms Template
layout_localized:
  en: default
permalink_localized:
  en:
meta_description_localized:
  en:
meta_keywords_localized:
  en:
---
<input type="hidden" id="roomId"  value="{{page.code}}" />
<input type="hidden" id="roomList" value="[[ browser.roomsList | filter: { category: 'Accessible' } ]]"   />

<section ng-controller="roomDetail" rt3-room-details="selectedRoom" ><div class="loading" style="display:block">Loading&#8230;</div>
<div class="container">
     <div id="top-spacer">
     </div>
</div>



<section class="container rooms-wrapper">
      <div class="row no-gutter">
        <div class="col-sm-6 no-padding">
          <div class="short-description">
                <h4>[[cat]]</h4>
                {% regionblock heading %}
                <h2 class="title">Modern Comforts</h2>
                {% endregionblock %}
                 {% regionblock content %}
                <p class="short-detail"><strong>Relax in the comfort of spacious hotel rooms near Union Square with some offering sweeping bay and skyline views from Nob Hill.</strong> </p>
                {% endregionblock %}
          </div>
      </div>
      <div class="col-sm-6">
            <div class="room-type">
                 <p>Select a [[selectedRoom.category]] Type:</p>
                  <ul>
                     <li ng-class="{'active' : selectedRoom.name == room.name}" ng-repeat="room in browser.roomsList | filter: {category: selectedRoom.category}"><a href="/room/#[[room.name | formatNameForLink]]">[[room.name]]</a></li>
                  </ul>
            </div>
      </div>
      </div>
     <div class="row no-gutter">
        <div class="col-md-12 main-image clearfix">
           <img ng-src="[[selectedRoom.photos[0].large]]" alt="[[selectedRoom.name]]" class="img-responsive">
           <div class="rate-block">


               <h4 class="heading4">Tonight’s Rate [[selectedRoom.todayRate]]</h4>
               <h2 class="title2">[[selectedRoom.name]]</h2>

               <!--div class="btn-holder full-white text-center">
                <a class="butn btn-wide uppercase" ng-href="{{site.data.config.reztripUrl}}search?selected_room_category=[[selectedRoom.category]]&selected_room=[[selectedRoom.code]]" target="_blank">
                    Book This Room
                </a>
              </div-->
           </div>
        </div>
      </div>
</section>


<section class="container">

  <div class="row no-gutter clearfix">
       <div class="col-sm-6">
          <div class="booking-wrapper">
          <div id="datepicker" rt3-rate-calendar data-options='{"baseroom":[[selectedRoom.is_base_room_type]],
                                                               "checkinEle" : "checkin",
                                                               "checkoutEle" : "checkout"}' ></div>
           <form id="roomBooking" action="{{site.data.config.reztripUrl}}search?" method="get">
               <input type="hidden" id="selected_room" name="selected_room" value="[[selectedRoom.code]]" />
               <input type="hidden" name="arrival_date" id="arrival_date"  />

               <input type="hidden" name="departure_date" id="departure_date" />

                 <div class="form-group col-sm-6 no-leftpadding">
                    <label for="checkin">Arrival</label>
                   <input type="text" class="form-control" id="checkin"  placeholder="Checkin Date">
                 </div>
                  <div class="form-group col-sm-6 no-padding"> <label for="checkout">Departue</label>
                   <input type="text" class="form-control" id="checkout"  placeholder="Checkout Date">
                 </div>
                 <div class="form-group col-sm-6 no-leftpadding"> <label for="adults">Adults</label>
                   <select class="form-control" id="adults" name="adults">
                     <option value="1" > 1 </option>
                     <option value="2"   selected> 2 </option>
                     <option value="3" > 3 </option>
                     <option value="4" > 4 </option>
                   </select>
                 </div>
                 <div class="form-group col-sm-6 no-padding"> <label for="child">Children</label>
                   <select class="form-control" id="child" name="child">
                     <option selected value="0" > 0 </option>
                     <option value="1" > 1 </option>
                     <option value="2" > 2 </option>
                     <option value="3" > 3 </option>
                     <option value="4" > 4 </option>
                   </select>
                 </div>
                 <div class="form-group col-sm-12 no-padding">
                 <div class="btn-holder">
                   <button class="butn butn-secondary btn-block" type="submit"> BOOK THIS ROOM NOW </button>
                   </div>
                 </div>
           </form>
            </div>
       </div>
        <div class="col-sm-6 no-leftpadding">
          <div class="room-description">
            <h4>[[selectedRoom.name]]</h4>
            <h2 class="title"> All in the Details </h2>
            <p>[[selectedRoom.description]]</p>
            <div class="r-link"><a href="javascript:void(0)" data-toggle="collapse"  data-target="#public" tabindex="0" class="button-common-2 button-blue" >Check Public Space Accessibility</a></div>
              <ul id="public" class="collapse">
              <li>Accessible public entrance</li>
              <li>Accessible route from the accessible public entrance to the registration area</li>
              <li>Accessible route from the accessible public entrance to the accessible guestrooms</li>
              <li>Accessible route from the hotel’s accessible public entrance to at least one restaurant</li>
              <li>Accessible route from the hotel’s accessible public entrance to the meeting room/ballroom area</li>
              <li>Accessible route from the hotel’s accessible public entrance to the exercise facilities.</li>
              <li>Accessible route from the hotel’s accessible public entrance to the business center
              <li>Accessible guest rooms with mobility features have doorways that provide 32” of clear width</li>
              <li>Accessible registration desk</li>
              <li>Accessible concierge desk</li>
              <li>Accessible public restrooms</li>
              <li>The hotel’s parking is valet only</li>
              <li>Accessible transportation</li>
              <li>Accessible transportation with advance notice</li>
              <li>Accessible restaurant
              <li>Accessible exercise facility</li>
              <li>Accessible swimming pool</li>
              <li>Accessible business center</li>
              <li>The hotel has a TTY for guest use</li>
              <li>The hotel’s guest room televisions have closed captioning or closed captioning decoders are provided</li>

              <li>Additional information needed to be provided</li>
              <li>**Stanford Court does not have any public space or amenity that is not ADA accessible**
              The total number of rooms at the property - 400</li>
              </ul>

          </div>
          <img src="/images/rooms/room-amen.jpg" class="img-responsive" alt="Stanfordcourt">
       </div>
  </div>

</section>

<section class="container-fluid amenities-wrapper  bg-dark clearfix">
    <div class="row no-gutter">
          <div class="col-sm-6 no-padding">
            <img src="/images/rooms/amenities.jpg" class="img-responsive abs" alt="Amenities">
            <div class="btn-holder center-white-middle text-center">
                              <a class="butn  uppercase">
                                  View hotel amenities
                              </a>
                             </div>
          </div>
          <div class="col-sm-6 no-padding">
              <div class="amenities-list">
              <h2 class="title">Room Amenities</h2>
              <ul>
                  <li ng-repeat="amenity in selectedRoom.amenities">[[amenity]]</li>

                   </ul>
              </div>
          </div>
    </div>
</section>
<section class="container-fluid">
  <div class="row no-gutter">
            <div id="roomsSlider" class="carousel slide">

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{'active': $index ==0}" ng-repeat="room in browser.roomsList">
                          <img ng-src="[[room.photos[0].large]]" alt="[[room.name]]">
                           <div class="carousel-caption">
                               <h4>discover more rooms and suites</h4>

                               <h2 class="title2">[[room.name]]</h2>

                               <div class="btn-holder full-white text-center">
                                <a class="butn btn-wide uppercase" ng-href="/room/#[[room.name | formatNameForLink]]">
                                    View This Room
                                </a>
                               </div>
                           </div>
                        </div>

                      </div>
                      <!-- Controls -->
                       <a class="left carousel-control white-control" href="#roomsSlider" role="button" data-slide="prev" title="Previous">
                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                       </a>
                       <a class="right carousel-control white-control" href="#roomsSlider" role="button" data-slide="next" title="Next">
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                       </a>
        </div>
  </div>
</section>
</section>
{% include offers.html %}
