---
excerpt: stanfordcourt.com
parent: gallery
title_localized:
  en: Photo Gallery | Stanford Court Hotel in San Francisco
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: 
meta_description_localized:
  en: Take a look around the boutique Stanford Court hotel in San Francisco before
    booking your stay. Take a look at the Stanford Court photo gallery here.
meta_keywords_localized:
  en: 
---
<div class="container">
    <div id="top-spacer">
    </div>
</div>
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title text-center">Gallery</h2>
        </div>
    </div>
    <!-- gallery wrap --> 
    <div class="gallery-wrapper">
        <div class="gallery-listing">
            <div class="container">
                <div class="row">
                    <ul class="gallery-nav">
                        <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all">All</a></li>
                        <li><a href="javascript:;" data-rel="hotel"  class="filter">Hotel</a></li>
                        <li><a href="javascript:;" data-rel="rooms" class="filter">Rooms</a></li>
                        <li><a href="javascript:;" data-rel="video" class="filter">Video</a></li>
                    </ul>
                </div>
            </div>
            <div class="container gallery-wrap" id="lightgallery">
                <ul>
                    <li class="col-sm-4 col-md-4 m-b-m-30 video-player-param fancybox" data-filter="video"  >
                        <a class="item" href="https://www.youtube.com/watch?v=FmiE9i-lI3k">
                            <img src="/images/gallery/video1_thumb.jpg" class="img-responsive" alt="At Stanfordcourt"/>
                            <div class="play-icon"><i class="fa fa-play"></i></div>
                        </a>
                    </li>
                    <li class="col-sm-4 col-md-4 m-b-m-30 video-player-param fancybox" data-filter="video"  >
                        <a class="item" href="https://www.youtube.com/watch?v=g_TXVVhpcOQ">
                            <img src="/images/gallery/video2_thumb.jpg" class="img-responsive" alt="At Stanfordcourt"/>
                            <div class="play-icon"><i class="fa fa-play"></i></div>
                        </a>
                    </li>
                    <li class="col-sm-4 col-md-4 m-b-m-30 video-player-param fancybox" data-filter="video"  >
                        <a class="item" href="https://www.youtube.com/watch?v=cPyLQNtZ_ng">
                            <img src="/images/gallery/video3_thumb.jpg" class="img-responsive" alt="At Stanfordcourt"/>
                            <div class="play-icon"><i class="fa fa-play"></i></div>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-4 fancybox hidden" data-filter="hotel" >
                        <div class="item rez-offer" data-sub-html="" data-src=""> </div>
                    </li>
                    {% assign hotel_images = site.data._models.gallery_hotel_images %}
                    {% for hotel_gallery in hotel_images %}     
                    {% assign mod = forloop.index | modulo: 3 %}
                    <li class="col-md-4 col-sm-4 fancybox" data-filter="hotel">
                        <div class="item" data-src="{{hotel_gallery.large_image.url}}">
                          <img src="{{hotel_gallery.thumb_image.url}}" class="img-responsive" alt="hotel_gallery.image_alt_txt"/>
                          <div class="overlay">
                            <h4>{{hotel_gallery.image_alt_txt}}</h4>
                          </div>
                        </div>
                    </li>
                    {% if mod == 2 %}  
                    <li class="col-md-4 col-sm-4 fancybox hidden" data-filter="hotel" >
                        <div class="item rez-offer" data-sub-html="" data-src=""> </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% assign room_images = site.data._models.gallery_room_images | sort: 'sort_order' %}
                    {% for room_gallery in room_images %}  
                    {% assign mod = forloop.index | modulo: 3 %}        
                    <li class="col-md-4 col-sm-4 fancybox" data-filter="rooms">
                        <div class="item" data-src="{{room_gallery.large_image.url}}">
                          <img src="{{room_gallery.thumb_image.url}}" class="img-responsive" alt="room_gallery.image_alt_txt"/>
                          <div class="overlay">
                            <h4>{{room_gallery.image_alt_txt}}</h4>
                          </div>
                        </div>
                    </li>
                    {% if mod == 2 %}  
                    <li class="col-md-4 col-sm-4 fancybox hidden" data-filter="hotel" >
                        <div class="item rez-offer" data-sub-html="" data-src=""> </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--/gallery wrap --> 
</section>