---
excerpt: stanfordcourt.com
parent: home
title_localized:
  en: Stanford Court Hotel | Boutique Hotel in San Francisco
label_localized:
  en:
layout_localized:
  en: default
permalink_localized:
  en:
meta_description_localized:
  en: Stanford Court pushes the envelope for boutique hotels in San Francisco. Just
    a few steps from Union Square it offers top-tier rooms and the best in amenities!
meta_keywords_localized:
  en:
---

<div class="home-slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item">
    <img src="//cdn.traveltripper.io/site-assets/192_617_12183/media/2018-02-12-055127/sneak-peak.jpg" alt="Stanfordcourt">
    <div class="container">
            <div class="carousel-caption carousel-text">
              {% regionblock  banner_heading1, type:header %}
             <h1><strong>SNEAK PEAK</strong></h1>
              {% endregionblock %} 
              <div class="btn-holder">
        {% regionblock  banner_button1, type:button %}
        <a href="/discover-the-hotel/" class="butn btn-white btn-wide uppercase opacity w-index">
              Discover our New Design
            </a>
        {% endregionblock %} 
     </div>
   </div>
  </div>
    </div>
    <div class="item">
    <img src="/images/homepage/fitness-slider.jpg" alt="Stanfordcourt">
    <div class="container">
            <div class="carousel-caption carousel-text">
              {% regionblock  banner_heading, type:header %}
              <h3>New Fitness Center!</h3>
              <h5>Just in time for those New Year’s Goals</h5>
              {% endregionblock %} 
              <div class="btn-holder">
        {% regionblock  banner_button, type:button %}
        <a href="https://www.stanfordcourt.com/special/#holiday-savings-20percent" class="butn btn-white btn-wide uppercase opacity">
              Book Now
            </a>
        {% endregionblock %} 
     </div>
   </div>
  </div>
    </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev" title="Previous">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <!--<span class="sr-only">Previous</span>-->
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" title="Next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <!--<span class="sr-only">Next</span>-->
    </a>

  </div>
</div>

<div class="od-booking fade1" >
  <form method="get" action="https://stanfordcourt.reztrip.com/search?" enctype="multipart/form-data" class="ng-pristine ng-valid">
    <span class="field-holder">
      <input type="text" class="textfield" placeholder="Arrival" id="od_arrival" name="arrival_date" aria-label="Arrival Date">
      <span class="cal od_arr"><img src="/images/calender-icon.png" alt="Calendar"></span></span> <span class="field-holder">
      <input type="text" class="textfield" placeholder="Departure" id="od_departure" name="departure_date" autocomplete="off" aria-label="Departure Date">
      <span class="cal"><img src="/images/calender-icon.png" alt="Calendar"></span></span>
      <span style="width: 148px;" class="field-holder sb">
      <select class="select-dropdown" name="selected_room" id="od_room" aria-label="Select Room">
        <option value="1" selected="">Select Room </option>
        <option ng-repeat="r in browser.roomsList" value="[[r.code]]">[[r.name]]</option>
        
      </select>
      </span>
      <span class="field-holder sb">
      <select class="select-dropdown" name="adults[]" id="od_adults" aria-label="Number of Adults">
        <option value="1" selected="">1 Adult</option>
        <option value="2">2 Adults</option>
        <option value="3">3 Adults</option>
        <option value="4">4 Adults</option>
        <option value="5">5 Adults</option>
        <option value="6">6 Adults</option>
      </select>
      </span> <span style="width: 138px;" class="field-holder sb">
      <select class="select-dropdown" name="children[]" id="od_children" aria-label="Number of Children">
        <option value="0" selected="">0 Children</option>
        <option value="1">1 Children</option>
        <option value="2">2 Children</option>
        <option value="3">3 Children</option>
        <option value="4">4 Children</option>
        <option value="5">5 Children</option>
      </select>
      </span>
      <!--<span class="field-holder codebox">
      <p class="iata"><a href="javascript:void(0);">IATA Code</a><input type="text" class="textfield hfield" placeholder="IATA Code" name="iata_code" autocomplete="off"></p>
      </span> -->
      <input type="hidden" name="rooms" value="1" aria-label="Hidden">
      <button type="submit" class="btn-common btn-od-form">Book Room</button>
      </form>
      </div>
<section class="container">
  <div class="welcome-wrapper">
    {% regionblock welcome-heading %}
    <h1>welcome to<br> stanford court</h1>
    <h4>where innovation & creativity meet</h4>
    {% endregionblock %}
    <hr align="right">
    {% regionblock welcome-text %}
    <p>Stanford Court pushes the envelope for San Francisco boutique hotels by catering to the ever-evolving digital age while maintaining classic standards in hospitality and travel.</p>
    {% endregionblock %}
  </div>
</section>

<section class="container">
  <div class="nob-slide clearfix">
    <div class="row">
      <div class="col-sm-6 col-md-7">
        <div class="blue-fixed-box">
          {% regionblock bluebox-heading %}
          <h4 class="text-center">SAN FRANCISCO BOUTIQUE HOTEL</h4>
          <h2 class="text-center">Our Newly Redesigned Hotel in Nob Hill</h2>
          {% endregionblock %}
        </div>
        <div class="details-whiteLeft">
          <div class="white-left"></div>
          <div class="content">
            <hr align="left">
            {% regionblock bluebox-content %}
            <p>Stanford Court prides itself on being one of the most respected hotels in Nob Hill, a prized and affluent San Francisco neighborhood. Our hilltop location provides guests with the opportunity to enjoy breathtaking views of the city.</p>
            {% endregionblock %}
          </div>
          <div class="btn-holder text-center">
           {% regionblock bluebox-link %}
           <a class="butn  uppercase excluse" href="/discover-the-hotel/">DISCOVER THE HOTEL</a>
           {% endregionblock %}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5">
        <div id="carousel-welcome" class="carousel slide">
          <!-- Indicators -->
          <ol style="list-style: none;">
            <li data-target="#carousel-welcome" data-slide-to="0" class="active"></li>
            <!--<li data-target="#carousel-welcome" data-slide-to="1">02</li>
            <li data-target="#carousel-welcome" data-slide-to="2">03</li>-->
          </ol>
          <!-- Wrapper for slides -->
          <img src="/images/homepage/gallery/7.jpg" alt="Gallery" />
          <!-- <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/images/homepage/gallery/6.jpg" alt="Gallery">
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-eq margin-15">
        <div class="left-cell">
        <div class="home-video-play-button"><a href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/FmiE9i-lI3k?rel=0&modestbranding=1&showinfo=0&theme=light" title="Stanfordcourt Intro"><img src="/images/play-icon.svg" alt="Play"></a></div>
          <img src="/images/homepage/command-pillow.jpg" class="ctrl img-responsive" alt="Stanfordcourt">
          <img src="/images/homepage/ipad.jpg" class="ctrl  img-responsive" alt="Stanfordcourt">
        </div>
        <div class="high-style">
         {% regionblock hitech-heading %}
          <h2>where High-tech<br>
          meets High style</h2>
         {% endregionblock %}
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="table-eq">
      <div class="left-cell">
        <div class="desctiption">
         {% regionblock rooms-heading %}
          <h2 class="title">It’s all in the Details </h2>
          <h4 class="uppercase link-room"> <a href="/rooms/">Rooms &amp; Suites</a></h4>
         {% endregionblock %}
          <hr align="left">
         {% regionblock rooms-details %}
          <p>Hotels near Union Square can all offer fun-filled weekend days of shopping and sightseeing, but few have the combination of top-tier rooms, suites, amenities and views that define Stanford Court.</p>
         {% endregionblock %}
        </div>
      </div>
      <div class="right-cell">
        <img src="/images/homepage/room1.jpg" class="img-responsive full-img" alt="Stanfordcourt Rooms">
      </div>
    </div>
  </section>
  <section class="container">
    <div class="table-eq">
      <div class="left-cell">
        <div id="amenitiesSlider" class="carousel slide">
          <!-- Indicators -->
          <ol class="carousel-indicators carousel-vindicators-numbers">
            <li data-target="#amenitiesSlider" data-slide-to="0" class="active">01</li>
            <li data-target="#amenitiesSlider" data-slide-to="1">02</li>
            <li data-target="#amenitiesSlider" data-slide-to="2">03</li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/images/homepage/amenities.jpg" alt="Stanfordcourt Amenities">
            </div>
            <div class="item">
              <img src="/images/homepage/gallery/2.jpg" alt="Stanfordcourt Amenities">
            </div>
            <div class="item">
              <img src="/images/homepage/gallery/3.jpg" alt="Stanfordcourt Amenities">
            </div>
          </div>
        </div>
      </div>
      <div class="right-cell bg-dark">
        <div class="content amenties">
        {% regionblock amenities-heading %}
          <h2 class="title">General Amenities </h2>
        {% endregionblock %}
          <hr align="left">
        {% regionblock amenities-content %}
          <p>Stay in the center of it all, San Fransisco's most intriguing neighborhoods are right at your doorstep. Eat, drink, shop, and immerse yourself in local culture and come back to enjoy some of the city's best accommodations and amenities.</p>
        {% endregionblock %}
        </div>
        <div class="btn-holder text-left">
        {% regionblock amenities-link %}
          <a href="/amenities/" class="butn btn-white uppercase">
            Discover Amenities
          </a>
        {% endregionblock %}
        </div>
      </div>
    </div>
  </section>
  {% include exclusive-offer.html %}
  <section class="container">
    <div class="events-wrapper bg-light clearfix">
      <div class="events-banner">
        <div id="eventsSlider" class="carousel slide">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/images/homepage/events/1.jpg" alt="Stanfordcourt Events">
            </div>

          </div>
          <!-- Controls
          <a class="left carousel-control" href="#eventsSlider" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a>
        <a class="right carousel-control" href="#eventsSlider" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a> -->
      </div>
      <div class="heading-circle">
      {% regionblock events-heading %}
        <h4>meeting & Event <br /> spaces</h4>
        <h2>The Heart  <br />  Of Innovation</h2>
      {% endregionblock %}
        <div class="btn-holder text-center">
        {% regionblock events-link %}
          <a href="" onclick="srfp_widget.show()" class="butn uppercase">
            Request For Proposal
          </a>
         {% endregionblock %}
        </div>
      </div>
    </div>
    <div class="table-eq event-content">
      <div class="left-cell">
        <div class="padd-60 m-venue">
        {% regionblock venueheading %}
          <h1 class="title2 whtText">3 unique</h1>
          <h4 class="heading4 uppercase">Over 2000 Sq. Ft.</h4>
          <h1 class="title2 whtText ">venues</h1>
        {% endregionblock %}
        </div>
        <div id="venuesSlider" class="carousel slide">
          <!-- Indicators
          <ol class="carousel-indicators carousel-v2indicators-numbers">
            <li data-target="#venuesSlider" data-slide-to="0" class="active">01</li>
            <li data-target="#venuesSlider" data-slide-to="1">02</li>
            <li data-target="#venuesSlider" data-slide-to="2">03</li>
          </ol>
          -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/images/homepage/events/1slide.jpg" alt="Stanfordcourt Events">
            </div>
          </div>
        </div>
      </div>
      <div class="right-cell">
        <div class="content marginTop200">
          <hr align="left">
          {% regionblock venuecontent %}
          <p>Our San Francisco boutique hotel’s impressive collection of MacBooks, iPads and iPad Minis are available in our lobby and business center. Guests can access wireless printing from all of our devices and their own. At Stanford Court we’re sure to accommodate all business and lifestyle needs.</p>
         {% endregionblock %}
        </div>
        <div class="btn-holder text-left marginLeft144">
          <!-- <a class="butn btn-wide uppercase">
            Request RFP
          </a>-->
        </div>
        <img src="/images/homepage/events/food-plate.jpg" class="img-responsive full-img img-responsive" alt="Stanfordcourt Dining">
      </div>
    </div>
    <div class="local-living clearfix">
      <div class="col-sm-6 col-md-7">
      {% regionblock localheading %}
        <h2 class="heading2">sublime <br />
        local living
        </h2>
        <h4 class="heading4 uppercase">The Stanford experience</h4>
       {% endregionblock %}
      </div>
      <div class="col-sm-6 col-md-5">
        <div class="right-content">
          <hr align="left">
        {% regionblock locallivingcontent %}
          <p>Our hilltop location provides guests with the opportunity to enjoy breathtaking views of the city. Nob Hill is among the most historically rich and attractive neighborhoods in San Francisco, but it’s only a small piece of Stanford Court advantageous positioning.</p> <p> With top-tier shopping in Union Square and bustling industry in the Financial District both short, easy commutes from the hotel, it’s difficult to find a more conveniently located San Francisco boutique hotel.</p>
        {% endregionblock %}
        </div>
      </div>
    </div>
    <div class="local-living-imgs">
      <div class="col-sm-8 no-padding col-sm-offset-4">
        <div class="right-content">
          <img src="/images/homepage/events/locals.jpg" class="img-responsive minus-1 pull-right" alt="Stanfordcourt Locals">
          <div class="btn-holder center-white text-center">
          {% regionblock locallivinglink %}
            <a href="/events/" class="butn btn-wide uppercase">
              discover more
            </a>
          {% endregionblock %}
          </div>
        </div>
        <div>
        </div>
      </div>
    </section>
    <section class="container marginTop200">
      <div class="locations-wrapper">
        <div class="col-sm-4 col-md-4 col-lg-3">
          <div class="mid-block">
            <hr align="left">
            {% regionblock addresslocal %}
            <p><strong>905 California Street <br />
              Nob Hill, San Francisco, CA <br />
             94108 </strong></p>
             {% endregionblock %}
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-6" style="position: relative;">
          <img src="/images/homepage/bg-location.jpg" class="img-responsive img-circle center-block" alt="Stanfordcourt Locations">
          <div class="circle-text">
          {% regionblock locationheading %}
            <h4>location</h4>
            <h2>Proximity <br />
            at its best</h2>
          {% endregionblock %}
          {% regionblock locationplace %}
            <h4 class="margin40"><strong>san francisco</strong></h4>
          {% endregionblock %}
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3">
          <div class="mid-block-2 text-right">
            <div class="btn-holder text-right">
            {% regionblock locationmaplink %}
              <a href="https://www.google.com/maps/place/Stanford+Court+Hotel/@37.7915052,-122.4117921,17z/data=!3m1!4b1!4m5!3m4!1s0x8085808c561d773d:0xb7afe5bc9f50d89c!8m2!3d37.7915052!4d-122.4095981" target="_blank" class="butn uppercase">
                hotel Directions
              </a>
              {% endregionblock %}
            </div>
            <div class="btn-holder text-right">
            {% regionblock locationlink %}
              <a href="/explore/" class="butn uppercase">
                Discover Location
              </a>
            {% endregionblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="col-md-12  bg-light attractions-wrapper no-padding clearfix">
        <div class="map" id="map" >

        </div>
        <div class="col-sm-6 col-md-5 no-padding">
          <img src="/images/homepage/attractions/houses-san-francisco.jpg" class="img-responsive pull-left"  alt="san francisco houses">
        </div>
        <div class="col-sm-6 col-md-7 no-padding bg-seal">
          <div class="col-md-12 no-padding clearfix"><img src="/images/homepage/attractions/road-side-bridge.jpg" class="img-responsive pull-right minus-34 minus-1"  alt="san francisco bridge">
          </div>
          <div class="col-md-12">
            <div class="thingsContent">
             {% regionblock thingsheading %}
              <h4 class="heading4">THINGS TO DO</h4>
              <h2 class="title"> San Francisco Attractions</h2>
             {% endregionblock %}
            </div>
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <div class="col-sm-7">
            <div class="experience padd-60">
              <hr align="left">
              {% regionblock thingscontent %}
              <p>There are so many things to see and do in San Francisco, that it may be hard to know where to start. Walk from our hotel to Union Square and many of the area’s most interesting neighborhoods and attractions, or hop on the cable car running directly in front of the hotel.
              </p>
              {% endregionblock %}
              <div class="btn-holder text-left">
               {% regionblock thingscontent %}
                <a href="/attractions/" class="butn btn-wide uppercase">
                  experience more
                </a>
                {% endregionblock %}
              </div>
            </div>
          </div>
          <div class="col-sm-5 no-padding">
            <img src="/images/homepage/attractions/vision.jpg" class="img-responsive pull-right minus-1" alt="Stanfordcourt Vision">
          </div>
        </div>
      </div>
    </section>

   <section class="container wyndow">
<h3 class="text-center">Explore San Francisco </h3>
<a class="wyndow-carousel text-center" href="https://wyndow.com" data-embed-id="52">Please wait while events load...</a>
</section>
    {% include local-events.html %}

    <section class="container blog-container">
    {% regionblock blogcontent %}
      <h4 class="text-center secondary-color">Stanford Court blog</h4>
      <h1 class="secondary-color">Food For Thought</h1>
     {% endregionblock %}
      <div class="btn-holder text-center">
      {% regionblock bloglink %}
        <a href="/blog/" class="butn  uppercase">
          view all blog posts
        </a>
      {% endregionblock %}
      </div>
    </section>
    <section class="container-fluid blog-wrapper  bg-dark clearfix">
      <div class="row no-gutter">
        <div class="tiles">
          {% assign blogs = site.data._models.blog %}

          {% for blog in blogs limit:1 %}
            {% if forloop.index == 1 %}
              <div class="gross col-sm-5 no-padding   imgScale firstpost schwarz " style="background-image: url({{blog.blogimage.url}}) !important;">
                <div class="post-detail">
                 <a href="{{ blog.id | permalink: model_dir: 'blog' }}" class="readon"> <h3 class="blog-title2">{{ blog.title }}</h3>
                  Read Blog Post</a>
                  <ul class="share-social">
                    <li> <a href="https://facebook.com/sharer.php?u=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}" rel="nofollow" target="_blank" title="Share on Facebook">
                    <i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                    <i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="https://plus.google.com/share?url=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}" rel="nofollow" target="_blank" title="Share on Google+"> <i class="fa fa-google-plus"></i></a></li>

                </ul>
              </div>
            </div>

          {% endif %}
        {% endfor %}
        <div class="gross col-sm-7 no-padding">
          <div class="featuredPost">
            <div class="sqaure-post">
              {% for blog in blogs limit:2 %}
                {% if forloop.index == 2 %}
                  <div class="col-sm-12 no-padding sqaure-post schwarz" style="background-image: url({{blog.blogimage.url}}) !important;">
                    <div class="post-detail">
                       <a href="{{ blog.id | permalink: model_dir: 'blog' }}" class="readon">
                      <h3>{{ blog.title }}</h3>
                     Read Blog Post</a>
                      <ul class="share-social">
                        <li> <a href="https://facebook.com/sharer.php?u=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}" rel="nofollow" target="_blank" title="Share on Facebook">
                        <i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                        <i class="fa fa-twitter"></i></a>
                      </li>
                      <li><a href="https://plus.google.com/share?url=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}" rel="nofollow" target="_blank" title="Share on Google+"> <i class="fa fa-google-plus"></i></a></li>

                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            {% for blog in blogs limit:3 %}
              {% if forloop.index == 3 %}
                <div class="col-sm-6 no-padding mini-post schwarz"  style="background-image: url({{blog.blogimage.url}}) !important;">
                  <div class="post-detail">


                    <a href="{{ blog.id | permalink: model_dir: 'blog' }}" class="readon">
                    <h3>{{ blog.title }}</h3>
                    Read Blog Post</a>
                    <ul class="share-social">
                      <li> <a href="https://facebook.com/sharer.php?u=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}" rel="nofollow" target="_blank" title="Share on Facebook">
                      <i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                      <i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/share?url=https://www.stanfordcourt.com{{ blog.id | permalink: model_dir: 'blog' }}" rel="nofollow" target="_blank" title="Share on Google+"> <i class="fa fa-google-plus"></i></a></li>

                  </ul>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% for blog in blogs limit:4 %}
            {% if forloop.index == 4 %}
              <div class="col-sm-6 no-padding  mini-post schwarz" style="background-image: url({{blog.blogimage.url}}) !important;">
                <div class="post-detail">


                  <a href="{{ blog.id | permalink: model_dir: 'blog' }}" class="readon">

                  <h3>{{ blog.title }}</h3>
                  Read Blog Post</a>
                  <ul class="share-social">
                    <li><a href="javascript:Void(0)" title="Facebook"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:Void(0)" title="Twitter"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:Void(0)" title="Google Plus"> <i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</section>

<!-- MODAL -->
<div class="homevideo-model">
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="modal-video">
                      <div class="embed-responsive embed-responsive-16by9">
                           <iframe width="100%" height="auto" src="" allowfullscreen title="Stanfordcourt"></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="homevideo-model">
  <div class="modal fade" id="videoModal-1" tabindex="-1" role="dialog" aria-labelledby="videoModal-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="modal-video">
                      <div class="">
                         <div class="videoContainer hide-for-small-only " >
                           <!--  <div class="v-overlay"></div> -->
                            <video autoplay loop>
                            <source src="/images/homepage/cityscape-sunset.mp4" type="video/mp4">
                            </video>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="homevideo-model">
  <div class="modal fade" id="videoModal-2" tabindex="-1" role="dialog" aria-labelledby="videoModal-2" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="modal-video">
                      <div class="">
                         <div class="videoContainer hide-for-small-only " >
                           <!--  <div class="v-overlay"></div> -->
                            <video autoplay loop >
                            <source src="/images/homepage/bridge-w-clouds.mp4" type="video/mp4">
                            </video>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
