---
excerpt: stanfordcourt.com
parent: rooms
title_localized:
  en: Luxury Hotel Rooms in San Francisco | Stanford Court Hotel
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: 
meta_description_localized:
  en: Our elevated vantage point atop Nob Hill provides exterior rooms with sweeping window views of the picturesque city, so guests truly feel connected at all times
meta_keywords_localized:
  en: 
---
<!-- <div class="container sub-nav ">

<nav class="rooms-list-nav">

  <ul class="rooms-nav-nav mr-auto">
    <li class="nav-item" ng-repeat="cat in browser.roomCategories">
      <a href="#[[cat]]" class="link">[[cat]]</a>
    </li>
  </ul>

</nav>
</div> -->

<section class="container no-gutter">

  <div class="special-banner">

    <div class="banner-inner">
     {% regionblock heading %}
      <h3>Stanford court rooms & Suites</h3>
      <h1>Luxury Redefined</h1>
      {% endregionblock %}
       {% regionblock maintext %}<p>Our elevated vantage point atop Nob Hill provides exterior rooms with sweeping window views of this picturesque city, so guests truly feel connected at all times. In the spirit of connectivity, all of our rooms are equipped with high-speed, reliable WiFi along with several more standout amenities.</p> 
      {% endregionblock %}

    </div>

<section class="container instagram">
   <!-- <div class="insta-wrapper">
      <div class="col-sm-6 sflove"><h4><a href="https://www.instagram.com/stanfordcourtsf" target="_blank">Share the love #Stanfordcourtsf</a></h4></div>
   </div> -->
   <div class="col-md-12 insta-wrapper">
    <div class="col-sm-3 sharelove">
        <h4><a href="https://www.instagram.com/stanfordcourtsf" target="_blank">SHARE THE LOVE</a></h4>
    </div>
    <div class="col-sm-6">
        <h1><a href="https://www.instagram.com/explore/tags/stanfordcourtsf/" target="_blank">#stanfordcourtsf</a></h1>
    </div>
    <!-- <div class="col-sm-3"><h4> Get Inspired</h4></div> -->
</div>

</section>
<section class="instagramimg">
    <div class="row instacol">
    <a href="https://www.instagram.com/p/BPJEav4humS/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
      <div style="background-image: url('/images/instagram/socks.jpg')" class="img-responsive">
      </div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/zGKiR_qzDT/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/lady.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BO1FSlChxRs/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/top-view.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BIkm_v3DQCU/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/white.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BOsjA0KhKNv/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/win-a-free-drink.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BQLIo1gjTqZ/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/dog.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BECdhYCqzLG/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/happy.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BAaGb4TqzNZ/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/monday.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BPsvIzhjnZq/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/style.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/6h85xDqzMy/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/yellow.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/6Afp09KzCY/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/legs.jpg')" class="img-responsive"></div>
    </div>
    </a>
    <a href="https://www.instagram.com/p/BDWOstSKzGp/" target="_blank">
    <div class="col-md-2 col-sm-3 col-xs-2">
    <div style="background-image: url('/images/instagram/handle.jpg')" class="img-responsive"></div>
    </div>
    </a>
    </div>
    </section>
  </div>
</section>

{% assign rooms = site.data._models.rooms %}
{% for room in rooms %}   
<section id="" >
<div class="container no-gutter rooms-list">
  <div class="col-md-12"><h2>{{room.title}}</h2></div>

  <div> 
    <div class="col-md-6" >
    <img src="{{room.roomimage.url}}" class="img-responsive">
      
      <div class="r-cost">
        <a><span>TONIGHT'S RATE:</span>&nbsp;<strong>{{room.tonight_rate}}</strong></a>
      </div>
      <div class="r-link"><a href="{{room.book_this_room}}" target="_blank">
          Book This Room
        </a></div>
      <div class="r-link"><a href="{{room.more_info}}">More Info</a></div>
    </div>
    <div class="col-md-6" >
      <p class="r-link">{{room.long_description}}</p>
    </div>
  </div>
</div>
</section>
{% endfor %}