---
excerpt: Pets are welcome at our boutique Nob Hill, San Francisco location. Stay with
  your pet and enjoy the city.
parent: events
child: culture
title_localized:
  en: Pet Friendly Hotels in San Francisco | Stanford Court Hotel
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: 
meta_description_localized:
  en: Stanford Court is the perfect place to enjoy a stay with your pet in the heart
    of San Francisco. Experience the comfort of our boutique hotel with your pet today!
meta_keywords_localized:
  en: 
---
<div class="container">
     <div id="top-spacer">
     </div>
</div> 

<div class="container"> 
    {% include amenities-nav.html %}
</div>
<section class="container" >
  
  <div class="location-banner amenities-banner" style="background-image:url(/images/amenities/pet_banner.jpg)">
    
    <div class="banner-inner">
      <h2>Stanford Court</h2>
      <h3>Pet Friendly </h3>
      <p>Perfect Place To Enjoy A Stay With Your Pet</p>

    </div>
  </div>
</section>
<section class="container">         

         
      <div class="location-wrapper location-bg-light" style="background-image: url(/images/amenities.jpg);">
      <div class="table-eq">
          <div class="left-cell">
              <div class="padd-60 m-venue">
              <h1 class="title2 whtText">Stay   </h1>
               <h4 class="heading4 uppercase">With Your</h4>
               <h1 class="title2 whtText ">Pet </h1>
               </div>
                <div id="venuesSlider" class="carousel slide">
                  

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="/images/amenities/pet_img1.jpg" alt="...">
                    </div>
                   
                  </div>
                  
                </div> 
          </div>
          <div class="right-cell">  
                  <div class="content ">   
                  <hr align="left"> 
                  <p>Your pooch pals are always welcome @ TSC , but we do charge a $50 deep cleaning fee . You’ll also get a cool bag of canine goodies including poop bags , a lint roller & chew toys that you can keep , and we’ ll stock your room with food / water bowls & a plush dog bed (that you can buy if you want to bring them home).
                  </p>
                  
                  </div>

              <div class="btn-holder text-left marginLeft144">
                <a class="butn btn-wide uppercase"  href="/pdf/TSC_POOP_Map.pdf" target="_blank">
                 Learn More
               </a>
              </div>

              <img src="/images/amenities/pet_img2.jpg" class="img-responsive full-img img-responsive">
          </div> 
      </div>
       
       <div class="local-living clearfix">
            <div class="col-sm-12 col-md-11">
                   <p>Our Nob Hill neighborhood — along with nearby Huntington Park — is great for going on walks and finding some fellow adorable four-legged friends to play with.</p> 
                   <p>Stanford Court, an accommodating hotel in a phenomenal neighborhood, is the perfect place to enjoy a stay with your pet in the heart of the city. Experience the comfort of our San Francisco hotel with your pet for just an additional $50, which covers any additional cleaning costs.</p> 
                 
                  
            </div>
            
        </div>

    </div>   
  
</section> 


{% include local-events.html %}
 