---
excerpt: The Urban Bundle is our most extensive set of amenities that blends convenience
  and comfort during your stay.
parent: amenities
child: urban-bundle
title_localized:
  en: San Francisco Hotel with Modern Amenities | Stanford Court
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: 
meta_description_localized:
  en: Urban Bundles at Stanford Court give you access to bundle of great perks and privileges including fast WiFi, use of iPads, a walking tour of the city, and more!
meta_keywords_localized:
  en: 
---
<div class="container">
     <div id="top-spacer">
     </div>
</div> 

<div class="container"> 
    {% include amenities-nav.html %}
</div>
<section class="container" >
  
  <div class="location-banner amenities-banner" style="background-image:url(/images/amenities/urban_banner.jpg)">
    
    <div class="banner-inner">
      <h2>Stanford Court</h2>
      <h3>Urban Bundle</h3>
      <p>Our Extensive Amenity Bundle</p>

    </div>
  </div>
</section>
<section class="container">         

         
      <div class="location-wrapper location-bg-light" style="background-image: url(/images/amenities.jpg);">
      <div class="table-eq">
          <div class="left-cell">
              <div class="padd-60 m-venue">
               <h1 class="title2 whtText">CONVENIENT   </h1>
               <h4 class="heading4 uppercase">and </h4>
               <h1 class="title2 whtText ">Complete </h1>
               </div>
                <div id="venuesSlider" class="carousel slide">
                  

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="/images/amenities/urban_img1.jpg" alt="...">
                    </div>
                   
                  </div>
                  
                </div> 
          </div>
          <div class="right-cell">  
                  <div class="content ">   
                  <hr align="left"> 
                  <p>Welcome to Stanford Court! We are obsessed with our guests (You) and with giving you a Great experience that showcases the best of SF. Your URBAN BUNDLE gives you access to bundle of great perks and privileges.  
                  </p>
                  </div>

              <div class="btn-holder text-left marginLeft144">
               <a class="butn btn-wide uppercase" href="/pdf/TSC_FAQ_Card.pdf" target="_blank">
                 FAQ
               </a>
              </div>

              <img src="/images/amenities/urban_img2.jpg" class="img-responsive full-img img-responsive">
          </div> 
      </div>
       
       <div class="local-living clearfix">
            <div class="col-sm-12 col-md-11">
                   <p>Stanford Court Hotel charges a $20 nightly fee that covers our exhaustive amenity bundle. The fee is assessed daily and includes items normally charged individually by other hotels. </p> 
                   <p> <strong> This fee is subject to San Francisco occupancy tax and includes the following: </strong> </p> 
                   
                   <div class="amenities-list">
                    <ul>
                       <li>Electronic Magazines delivered to your personal device</li>
                       <li> Blazing fast Autobahn Wi-Fi throughout the hotel – unlimited device connections</li>
                        <li> Free printing and faxing</li>
                        <li> Use of public area iMac Computers & iPads</li>
                        <li> *Use of Stanford Court device library – available for loan:</li>
                        <li>  MacBook Air</li>
                        <li>  Chromebook</li>
                        <li>  iPod</li>
                        <li>  iPad</li>
                        <li>  Jambox</li>
                        <li>  GoPro</li>
                        <li>  Local & long distance calls</li>
                        <li>  Locally roasted organic & free-trade Equator morning coffee, Mighty-Leaf teas and fresh juices</li>
                        <li>  Starbucks Coffee in your guestroom</li>
                        <li>  Water bottles & filling stations throughout the hotel</li>
                        <li>   Kids under 6 eat breakfast for free when accompanied by parent</li>
                        <li>  *Day use of our fleet of local Marin and Specialized bicycles</li>
                        <li>  *Use of our Yoga mats for free local Yoga sessions</li>
                        <li>  *Use of our umbrellas on rainy days</li>
                        <li>  A first-class fitness center experience:</li>
                        <li>  Energizing tunes</li>
                        <li>   Cool towels</li>
                        <li>  Fresh fruit</li>
                        <li>  Custom walking, jogging and bike maps</li>
                        <li>  A curated, high-tech walking tour of Nob Hill & Chinatown</li>
                        <li> *limited supply available</li>
                   </ul> 
               </div>
            </div>
            
        </div>

    </div>   
  
</section> 


{% include local-events.html %}
 