<div class="booking-widget" ng-controller="bookingWidget as widget" rt3-search-form="search" on-search-changed="browser.search()" ng-cloak>
  <iframe src="{{site.booking_widget_url}}" id="booking-widget-iframe"></iframe>
  <div class="booking-widget_header">
    <div class="booking-widget_close">&times;</div>
    <h3 class="booking-widget_title">Your Booking</h3>
  </div>
  <form action="https://stanfordcourt.reztrip.com/search?" method="get" target="_blank">
    <input type="text" name="arrival_date" value="[[search.params.arrival_date | date:'yyyy-MM-dd']]">
    <input type="text" name="departure_date" value="[[search.params.departure_date | date:'yyyy-MM-dd']]" >
    <select name="adults[]" id="adults" ng-model="browser.params.adults">
      <option value="1">1 Adult</option>
      <option value="2" ng-selected="true" selected>2 Adults</option>
      <option value="3">3 Adults</option>
    </select>
    <select name="children[]" id="children" ng-model="browser.params.children">
      <option value="0" ng-selected="true">0 Children</option>
      <option value="1">1 Children</option>
      <option value="2">2 Children</option>
    </select>
    <input type="radio" name="rate_code" value="[[rate.rate_plan_code]]">
  </form>
</div>
