<section class="container instagram">
    <div class="col-md-12 insta-wrapper">
        <div class="col-sm-3">
            <h4><a href="https://www.instagram.com/stanfordcourtsf" target="_blank">Follow Us</a></h4>
        </div>
        <div class="col-sm-6">
            <h1><a href="https://www.instagram.com/explore/tags/stanfordcourtsf/" target="_blank">#stanfordcourtsf</a></h1>
        </div>
        <div class="col-sm-3">
            <h4> Get Inspired</h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="insta-gallery"> {% include instafeed.html %}</div>
    </div>
</section>
<section class="container call-wrapper">
    <h4 class="text-center">Got a Question?</h4>
    <div class="btn-holder text-center"> <a href="/contact-us/" class="butn btn-wide uppercase"> CONTACT US </a> </div>
</section>

<!-- {% unless page.url == "/charities/" %}
    {% include save-the-children.html %}
  {% endunless %}
 -->
<footer class="container">
    <div class="footer-wrapper bg-light clearfix">
        <div class="col-sm-4 border-right">
            <div class="content">
                <!-- <h2 class="title">
                    <a href="/contact-us/"> Contact </a>
                     </h2> -->
                {% regionblock ct_text %}
                <p class="contacts"> <a style="font-size: 19px;" href="/contact-us/"><strong>Contact Us</strong></a><br/>
                    <a href="https://goo.gl/maps/A6NkAC9ZUPN2" target="_blank">905 California Street,<br />
                    Nob Hill, San Francisco, CA <br />
                    94108</a><br/>
                    <br/>
                    <a href="tel:415-989-3500">415 989-3500</a> <br />
                </p>
                {% endregionblock %}
            </div>
        </div>
        <div class="col-sm-4 border-right">
            <div class="content clearfix">
                {% regionblock footeraddress %}
                {% endregionblock %}
                <p class="address">
                <div class="f-logo text-center">
                    <ul>
                        <li><img src="/images/conde-logo-black.png" alt="Conde Logo" class="red"></li>
                        <br />
                        <li>
                            <div class="TA_certificateOfExcellence">
                                <ul>
                                    <li><a target="_blank" rel="nofollow" href="https://www.tripadvisor.com/Hotel_Review-g60713-d80747-Reviews-Stanford_Court_San_Francisco-San_Francisco_California.html" title="Trip Advisor"><img src="/images/tripadvisor.png" alt="TripAdvisor"/></a></li>
                                    <li><a target="_blank" rel="nofollow" href="https://www.tripadvisor.com/" title="Trip Advisor"><img src="/images/greenLeaders_Logo.png" class="green" alt="TripAdvisor"/></a></li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <div>
                                <ul>

                                    <li><a target="_blank" rel="nofollow" href="/charities/" title="save the children">
                                        <img src="/images/save-the-children-logo.png" class="savechildren-icon " alt="save the children"/></a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>

                <ul class="social">
                    <li><a href="https://www.facebook.com/StanfordCourtSF" rel="nofollow" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/StanfordCourtSF" rel="nofollow" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/101732238009151670246/" rel="nofollow" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.instagram.com/stanfordcourtsf" rel="nofollow" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/user/StanfordCourtSF" rel="nofollow" target="_blank" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="content email-content">
                <h2 class="title"> Newsletter </h2>
                <p>We promise to only send the
                    good stuff.
                </p>
                <form method="post" action="https://web2.cendynhub.com/FormPost/FormPost.ashx" name="signupForm" accept-charset="utf-8" class="eclubCheck" novalidate>
                    <input name="formId" type="hidden" value="4BB13D7F-8DD3-4794-B193-869C838F6AC1"/>
                    <div class="input-group">
                        <input type="email" value="" aria-checkrequired="true" data-sign="false" id="emailaddress2" name="emailAddress" class="form-textbox form-control" size="30" required="required" placeholder="Your Email Here" aria-label="Your Email here" />
                        <div class="error-msg" id="emailaddress2Err"></div>
                    </div>

                    <div class="input-group">
                        <div class="g-recaptcha" data-theme="light" data-sitekey="6LdWgCAUAAAAAJvOai05x8FkahvQcgEDAsAdHq-D"></div>
                    </div>
                    <div class="error-code" id="grecaptcharesponseError"></div>
                    <div class="btn-holder text-left">
                      <div class="agree">
                      <input type="checkbox" class="form-check-input" id="agreenewsletter" name="q12_iAgree[]" value="agree" required aria-checkrequired="true" data-sign="false">
                      <span class="form-check-label" for="agree">I agree to the <a class="link2" href="/terms-of-use/" target="_blank">Terms of Service</a> and <a class="link2" href="/privacy-policy/" target="_blank">Privacy Policy</a>.</span>
                      <span class="error-msg" id="agreenewsletterErr"></span>
                    </div>
                        <button type="submit" id="submit" disabled="disabled" class="butn uppercase newsletterBtn" title="Submit">Submit <!-- <img src="/images/arrow-icon.png" alt="submit arrow"> --></button>
                    </div>
                    <input type="HIDDEN" name="PEA" value="" aria-label="Hidden" />
                    <input type="HIDDEN" name="PEACC" value="" aria-label="Hidden" />
                    <input type="HIDDEN" name="PEABC" value="" aria-label="Hidden" />
                    <input type="HIDDEN" name="PEASUBJECT" value="LOOKUP" aria-label="Hidden" />
                    <INPUT TYPE="HIDDEN" NAME="NewUser" VALUE="1" aria-label="Hidden" />
                    <INPUT TYPE="HIDDEN" NAME="PrThanksPage" VALUE="1" aria-label="Hidden" />
                    <INPUT TYPE="HIDDEN" NAME="ftpbox" VALUE="01610" aria-label="Hidden" />
                    <INPUT TYPE="HIDDEN" NAME="PRThanksTemplate" VALUE="ETHANKS" aria-label="Hidden" />
                    <input type="hidden" name="sys_formtype" value="eClub" aria-label="Hidden" />
                    <input type="hidden" name="hv_preftype" value="eClub" aria-label="Hidden" />
                    <input type="hidden" name="ECWT" value="EWELCOME" aria-label="Hidden" />
                </form>
            </div>
        </div>
    </div>
    <div class="copy-wrapper clearfix">
        <ul class="infolinks">
            <li> © <a href="https://www.stanfordcourt.com/" title="Stanford Court">Stanford Court</a> 2017 All Rights Reserved</li>
            <li><a href="https://www.chargerback.com/ReportLostItemCBEmbed.asp?CustomerID=2880" rel="nofollow" target="_blank">Lost Items</a></li>
            <li><a href="/faq/">Faq's</a></li>
            <li><a href="/privacy-policy/" rel="nofollow">Privacy Policy</a></li>
            <li><a href="/terms-of-use/" rel="nofollow">Terms of Use</a></li>
            <li><a href="/press/">Press</a></li>
            <!-- <li><a href="/reboot/">Reboot</a></li> -->
            <li><a href="/sitemap/">Site Map</a></li>
            <li><a href="mailto:frontdesk@stanfordcourt.com?subject=I'd like a copy of my bill please" rel="nofollow">Copy of Bill </a></li>
            <li class="menu-item-grouprfp"><a href="javascript:void(0)" onclick="srfp_widget.show()" rel="nofollow">Speed RFP</a></li>
        </ul>
    </div>
</footer>
<!-- Wyndow Widget -->
<script id="wyndow-wjs" src="https://platform.wyndow.com/embed.js"></script>
<script>
    function getIp(data){
       sessionStorage.ip_add =  data.ip;
    }
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeQ3-Pa0C_o06zvS5iLtO3is3-TXbufzY"></script>
<!-- jQuery is included in main.min.js (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/main.min.js"></script>

<!--New Booking Widget-->
<script src="https://plugins.traveltripper.io/v2/rt3api.js"></script>
<script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>
<script>
    TTWeb.Config.configure({
      hotelId: 'SFOSTF', //'orwhatever your values are',
      portalId: 'stanfordcourt',
      defaultTimezone: 'America/New_York', // timezone of site
      ipAddress: sessionStorage.ip_add,
      defaultCurrency: 'USD'
    });


    $("[show-booking-widget]").bookingWidget({
         showRateCalendar: true,
         showOfferCode: true
    });
</script>
{% if page.url == '/' %}
<!-- Mobile detection and custom functions for homepage slider videos -->
<script src="/js/mobile-detect.js"></script>
<script src="/js/jquery.mobile.js"></script>
{% endif %}


<script type="text/javascript">
    // instafeed
    /* var userFeed = new Instafeed({
      get: 'user',
      userId: '458067763',
      clientId: '8d1b4f56d6dc4a239aff8e5a735ed661',
      accessToken: '458067763.1677ed0.128c22ee3cd94d3f9db3be61fa42e26c',
      resolution: 'standard_resolution',
      template: '<a href="[[link]]" target="_blank" id="[[id]]"><img src="[[image]]" alt="[[id]]" /></a>',
      sortBy: 'most-recent',
      limit: 7,
      links: false
    });
    userFeed.run();
    */
</script>
<script src="https://s3-us-west-1.amazonaws.com/assets.speedrfp.com/widget/js/v1.18.js"></script>
<script type="text/javascript" charset="utf-8">
    var options = {};
    options.display = "overlay";
    options.rfp_type = "meeting";
    options.key = "f9aad5bfed895570";
    options.uid = "5LBFZ";
    options.button = "none";

    var srfp_widget = new srfp.widget(options);
</script>
<script type="text/javascript">
    $(document).ready(function(){
      $( ".eclubCheck" ).submit(function( event ) {
          var email_address = $("#email_address").val();
          var grecaptcharesponse = $("#g-recaptcha-response").val();

          var emailError = "";
          var valid = "";


          if(email_address == ""){
            valid+="Please specify your first name";
            emailError = "Please enter a valid email address";
            $("#emailError").html(emailError);
          } else {
            validEmail = /\S+@\S+\.\S+/;
            var emailPass = validEmail.test(email_address);
            if(!emailPass){
              emailError = "Please enter a valid email address";
              $("#emailError").html(emailError);
            } else {
              emailError = "";
              $("#emailError").html("");
            }
          }

          if(grecaptcharesponse == ""){
            valid+="Please check the captcha";
            grecaptcharesponseError = "Please check the captcha";
            $("#grecaptcharesponseError").html(grecaptcharesponseError);
          } else {
            firstnameError = "";
            $("#grecaptcharesponseError").html("");
          }

          if(valid == ""){
            $("#form_submit").attr("disabled", true);
            $("#form_submit").attr("value", "Submitting");
          } else {
            event.preventDefault();
          }

      });
    });
</script>

<script src="/js/utm-tracking.js"></script>
