 <section class="container instagram">
 
   <div class="col-md-12 insta-wrapper">
      <div class="col-sm-3"><h4> Follow Us</h4></div>
      <div class="col-sm-6"><h1> #stanfordcourtsf</h4></div>
      <div class="col-sm-3"><h4> Get Inspired</h4></div>
   </div>
  <div class="col-md-12">
       <div class="insta-gallery">
       <img src="/images/instagram/1.jpg" class="img-responsive">
       <img src="/images/instagram/2.jpg" class="img-responsive">
       <img src="/images/instagram/3.jpg" class="img-responsive">
       <img src="/images/instagram/4.jpg" class="img-responsive">
       <img src="/images/instagram/5.jpg" class="img-responsive">
       <img src="/images/instagram/6.jpg" class="img-responsive">
       <img src="/images/instagram/7.jpg" class="img-responsive">
       </div> 
   </div>
</section>
<section class="container call-wrapper">
      <h4 class="text-center">Got a Question?</h4>
      <div class="btn-holder text-center">
         <a class="butn btn-wide uppercase">
             GIVE US CALL
         </a>
      </div>
</section>

<footer class="container">
    <div class="footer-wrapper bg-light clearfix">
       <div class="col-sm-4 border-right">
          <div class="content">
            <h2 class="title">
            Contact
            </h2>
            <p class="contacts"><strong class="ind">F</strong>    415 989-3500 <br />
               <strong class="ind">E</strong>   info@stanfordcourt.com</p>
          </div>
        </div>
       <div class="col-sm-4 border-right">
          <div class="content clearfix">
            <p class="address">905 California Street,<br />
Nob Hill, San Francisco,<br />
CA 94108</p> 
              <ul class="social">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
              </ul>
          </div>
       </div>
       <div class="col-sm-4">
          <div class="content">
            <h2 class="title">
            Newsletter
            </h2>
            <p>We promise to only send the 
good stuff.</p>

             <form class="newsletter">
                <div class="input-group">
                   <input type="text" class="form-control" name="email" required="required">
                    <span class="input-group-addon">
                       <button type="submit"><img src="/images/arrow-icon.png" alt="submit arrow"></button>
                    </span>
                </div>
             </form>
          </div>
       </div>
    </div>

    <div class="copy-wrapper clearfix">
        <ul class="infolinks">
          <li>© Stanford Court.All Rights Reserved 2016</li>           
          <li><a href="">Terms & Conditions</a></li>              
          <li><a href="">Privacy Policy</a></li>            
          <li><a href="">Press</a></li>
          <li><a href="">Sit Map</a></li>
          <li><a href="">Copy of Bill </a></li>         
          <li><a href="">Speed RFP</a></li> 
        </ul>
    </div>
</footer>

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/classie.js"></script> 
    <script src="/js/custom.js"></script>
