
<section class="container instagram">
  <div class="col-md-12 insta-wrapper">
    <div class="col-sm-3">
      <h4><a href="https://www.instagram.com/stanfordcourtsf" target="_blank">Follow Us</a></h4>
    </div>
    <div class="col-sm-6">
      <h1><a href="https://www.instagram.com/explore/tags/stanfordcourtsf/" target="_blank">#stanfordcourtsf</a></h1>
    </div>
    <div class="col-sm-3">
      <h4> Get Inspired</h4>
    </div>
  </div>
  <div class="col-md-12">
    <div class="insta-gallery"> {% include instafeed.html %} 
      <!--<img src="/images/instagram/1.jpg" class="img-responsive">
       <img src="/images/instagram/2.jpg" class="img-responsive">
       <img src="/images/instagram/3.jpg" class="img-responsive">
       <img src="/images/instagram/4.jpg" class="img-responsive">
       <img src="/images/instagram/5.jpg" class="img-responsive">
       <img src="/images/instagram/6.jpg" class="img-responsive">
       <img src="/images/instagram/7.jpg" class="img-responsive">--> 
    </div>
  </div>
</section>
<section class="container call-wrapper">
  <h4 class="text-center">Got a Question?</h4>
  <div class="btn-holder text-center"> <a href="/contact-us/" class="butn btn-wide uppercase"> CONTACT US </a> </div>
</section>
<footer class="container">
  <div class="footer-wrapper bg-light clearfix">
    <div class="col-sm-4 border-right">
      <div class="content"> 
        <!-- <h2 class="title">
           <a href="/contact-us/"> Contact </a>
            </h2> --> 
        {% regionblock ct_text %}
        <p class="contacts"> <a style="font-size: 19px;" href="/contact-us/"><strong>Contact Us</strong></a><br/>
          <a href="https://goo.gl/maps/A6NkAC9ZUPN2" target="_blank">905 California Street,<br />
          Nob Hill, San Francisco, CA <br />
          94108</a><br/>
          <br/>
          <a href="tel:415-989-3500">415 989-3500</a> <br />
        </p>
        {% endregionblock %} </div>
    </div>
    <div class="col-sm-4 border-right">
      <div class="content clearfix"> {% regionblock footeraddress %} 
        {% endregionblock %}
        <p class="address">
        
        <div class="f-logo">
          <ul>
            <li>
              <div id="TA_certificateOfExcellence727" class="TA_certificateOfExcellence">
                <ul id="pKCN1R" >
                  <li id="3viMvGkx"><a target="_blank" href="https://www.tripadvisor.com/Hotel_Review-g60713-d80747-Reviews-Stanford_Court_San_Francisco-San_Francisco_California.html" title="Trip Advisor"><img src="/images/tripadvisor.png" alt="TripAdvisor" id="CDSWIDCOELOGO"/></a></li>
                </ul>
              </div>
            </li>
            <li>
              <div id="TA_greenleader978" >
                <ul id="hrbEHnWbHN" >
                  <li id="cCLp5w" ><a target="_blank" href="https://www.tripadvisor.com/" title="Trip Advisor"><img src="/images/greenLeaders_Logo.png" class="green" alt="TripAdvisor" id="S_GREEN_LEADER_LOGO"/></a></li>
                </ul>
              </div>
            </li>
            <li><img src="/images/conde-logo.png" alt="Conde Logo" class="red"></li>
          </ul>
        </div>
        <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&uniq=727&locationId=80747&lang=en_US&year=2016&display_version=2"></script> 
        <script src="https://www.jscache.com/wejs?wtype=greenleader&uniq=978&locationId=80747&lang=en_US&border=true&display_version=2"></script>
        </p>
        <ul class="social">
          <li><a href="https://www.facebook.com/StanfordCourtSF" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/StanfordCourtSF" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/101732238009151670246/" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://www.instagram.com/stanfordcourtsf" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/user/StanfordCourtSF" target="_blank" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="content">
        <h2 class="title"> Newsletter </h2>
        <p>We promise to only send the
          good stuff.</p>
        <form method="post" id="eclubCheck" action="https://www.data2gold.com/cc3/safeandsecure.wow?6O521I55494X2X2G6G1O0L216R693Q5H3Z5E" class="eClub">
          <div class="input-group">
            <input type="email" required name="email" class="form-textbox form-control" size="30" id="email_address" required="required">
            <span class="input-group-addon">
            <button type="submit"><img src="/images/arrow-icon.png" alt="submit arrow"></button>
            </span> </div>
          <input type="HIDDEN" name="PEA" value="" />
          <input type="HIDDEN" name="PEACC" value="" />
          <input type="HIDDEN" name="PEABC" value="" />
          <input type="HIDDEN" name="PEASUBJECT" value="LOOKUP" />
          <INPUT TYPE="HIDDEN" NAME="NewUser" VALUE="1">
          <INPUT TYPE="HIDDEN" NAME="PrThanksPage" VALUE="1">
          <INPUT TYPE="HIDDEN" NAME="ftpbox" VALUE="01610">
          <INPUT TYPE="HIDDEN" NAME="PRThanksTemplate" VALUE="ETHANKS">
          <input type="hidden" name="sys_formtype" value="eClub">
          <input type="hidden" name="hv_preftype" value="eClub" />
          <input type="hidden" name="ECWT" value="EWELCOME" />
        </form>
      </div>
    </div>
  </div>
  <div class="copy-wrapper clearfix"> {% regionblock footerlinks %}
    <ul class="infolinks">
      <li>© Stanford Court 2017 All Rights Reserved</li>
      <li><a href="https://www.chargerback.com/ReportLostItemCBEmbed.asp?CustomerID=2880" target="_blank">Lost Items</a></li>
      <li><a href="/privacy-policy/">Privacy Policy</a></li>
      <li><a href="/press/">Press</a></li>
      <li><a href="/reboot/">Reboot</a></li>
      <li><a href="/sitemap/">Site Map</a></li>
      <li><a href="mailto:frontdesk@stanfordcourt.com?subject=I'd like a copy of my bill please">Copy of Bill </a></li>
      <li class="menu-item-grouprfp"><a href="" onclick="srfp_widget.show()">Speed RFP</a></li>
    </ul>
    {% endregionblock %} </div>
</footer>
<script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script> 
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="/js/jquery.min.js"></script> 
<script src="/js/jquery-ui.min.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.easing.min.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/classie.js"></script> 
<script src="/js/angular.min.js"></script> 
<script type="text/javascript" src="/js/instafeed.js"></script> 
<script src="/js/custom.js"></script> 
<script src="/js/ui-date.js"></script> 
<script src="/js/booking-widget.js"></script> 
<script src="/js/lightgallery.js"></script> 
<script src="/js/lg-fullscreen.js"></script> 
<script src="/js/lg-thumbnail.js"></script> 
<script src="/js/lg-video.js"></script> 
<script src="/js/rt3api.js"></script> 
<script src="/js/rez-trip.js"></script> 
<script src="/js/rt3-services.js"></script> 
<script src="/js/rt3-directives.js"></script> 
<script src="/js/rt3-filters.js"></script> 
<script type="text/javascript">
        // instafeed 
       var userFeed = new Instafeed({
        get: 'user',
        userId: '458067763',
        clientId: '8d1b4f56d6dc4a239aff8e5a735ed661',
        accessToken: '458067763.1677ed0.128c22ee3cd94d3f9db3be61fa42e26c',
        resolution: 'standard_resolution',
        template: '<a href="[[link]]" target="_blank" id="[[id]]"><img src="[[image]]" /></a>',
        sortBy: 'most-recent',
        limit: 7,
        links: false
      });
      userFeed.run();

      function initMap() {
        var myLatLng = {lat: 37.791529, lng: -122.409594};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          
          center: new google.maps.LatLng(37.791529, -122.409594),
      scrollwheel: false,
      styles: [
            {elementType: 'geometry', stylers: [{color: '#e4e1dc'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#fefefe'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#a3a3a3'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#fefefe'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#fefefe'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#fefefe'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#fefefe'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#9cb9bf'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#9cb9bf'}]
            }
          ]
        });
    
    
    
    var iconBase = '/images/'; 
    
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Stanford Court Hotel',
      icon: iconBase + 'loc.png'
        });
    
      }
    
    </script> 
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeQ3-Pa0C_o06zvS5iLtO3is3-TXbufzY&callback=initMap"></script> 
<script type="text/javascript">

    $(document).ready(function() {
     $(".menu-btn").click(function(){
       $(".main-menu").slideToggle(300);
     });
     $('#lightgallery').lightGallery({
        selector: '.item',
      counter: false,
      fullScreen: false
      });
    $('.video-player-param').lightGallery({
          youtubePlayerParams: {
              modestbranding: 1,
              showinfo: 0,
              rel: 0,
              controls: 0
          },
          vimeoPlayerParams: {
              byline: 0,
              portrait: 0,
              color: 'A90707'
          }
      });

   });

   $(document).ready(function() {
   $(".home-banner-wrap .item").hover(function(){
     $(this).find(".transparent-bg").toggle();
   });
   
   
    $(".filter").on("click", function () {
    var $this = $(this);
    // if we click the active tab, do nothing
    if (!$this.hasClass("active")) {
      $(".filter").removeClass("active");
      $this.addClass("active"); // set the active tab
      var $filter = $this.data("rel"); // get the data-rel value from selected tab and set as filter
      $filter == 'all' ? // if we select "view all", return to initial settings and show all
        $(".fancybox").attr("data-fancybox-group", "gallery").not(":visible").fadeIn() 
        : // otherwise
        $(".fancybox").fadeOut(0).filter(function () { 
          return $(this).data("filter") == $filter; // set data-filter value as the data-rel value of selected tab
        }).attr("data-fancybox-group", $filter).fadeIn(1000); // set data-fancybox-group and show filtered elements
    } // if
  }); // on
   
   
 });

</script> 
<script src="https://www.speedrfp.com/irfps/js/widget/" type="text/javascript"></script> 
<script type="text/javascript" charset="utf-8">
        var options = {};
        options.display = "overlay";
        options.key = "f9aad5bfed895570"; 
        options.uid = "5LBFZ";
        options.button = "none";

        var srfp_widget = new srfp.widget(options);
      </script> 
