 {% assign toplinks = site.data.menu %}
<nav class="navbar navbar-toggleable-md navbar-fixed-top">
<div class="container">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" title="Menu">
  <span class="navbar-toggler-icon"></span>
</button>
<div id="menu-toggle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<a class="navbar-brand" href="/" title="logo"><img src="/images/logo.png" alt="Stanford Court Hotel"></a>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">

   {% for topmenu in toplinks.topmenu %}
     <li class="nav-item" {% if topmenu.submenu == "true" %} class="dropdown" {% endif %}> <a {% if topmenu.parent == page.parent %} class="active" {% endif %} {% if topmenu.submenu == "true" %} data-toggle="dropdown"  {% endif %} href="{{topmenu.url}}">{{topmenu.name}}</a>
            {% if topmenu.submenu == "true" %}
            <ul class="dropdown-menu ">
              {% for dropdown in topmenu.subitems %}
                  <li class="nav-item"><a href="{{ dropdown.url }}">{{ dropdown.name }}</a></li>
                {% endfor %}
            </ul>
      {% endif %}
     </li>
   {% endfor %}

  </ul>
</div>
<div class="btn-booknow header-btn"><a href="javascript:void(0)" show-booking-widget>BOOK NOW</a></div>
</div>
</nav>
