 {% assign toplinks = site.data.menu %} 
<nav class="navbar navbar-toggleable-md navbar-fixed-top">
<div class="container">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div id="menu-toggle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div> 
</div>
<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Stanford Court Hotel"></a>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
 
   {% for topmenu in toplinks.topmenu %}
     <li class="nav-item">
      <a {% if topmenu.parent == page.parent %} class="active" {% endif %} href="{{topmenu.url}}">{{topmenu.name}}</a>
     </li>
   {% endfor %}   
    
  </ul> 
</div>
<div class="btn-booknow"><a href="">BOOK NOW</a></div>
</div>
</nav>
