<script type="text/javascript" src="/js/instafeed.js"></script>
    <script src="/js/custom.js"></script>
    <script type="text/javascript">
    var userFeed = new Instafeed({
    get: 'user',
    userId: '1598317372',
    clientId: '026e8f80a7984cafa351229e8622c145',
    accessToken: '458067763.1677ed0.128c22ee3cd94d3f9db3be61fa42e26c',
    resolution: 'standard_resolution',
    template: '<a href="[[link]]" target="_blank" id="[[id]]"><img src="[[image]]" /><span>[[likes]] [[comments]]</span></a>',
    sortBy: 'most-recent',
    limit: 2,
    links: false
  });
  userFeed.run();
</script>
    
<div id="instafeed"></div>