<script type="text/javascript" src="/js/instafeed.js"></script>
    <script src="/js/custom.js"></script>
    <script type="text/javascript">
    var userFeed = new Instafeed({
    get: 'user',
    userId: '458067763',
    clientId: '8d1b4f56d6dc4a239aff8e5a735ed661',
    accessToken: '458067763.1677ed0.128c22ee3cd94d3f9db3be61fa42e26c',
    resolution: 'standard_resolution',
    template: '<a href="[[link]]" target="_blank" id="[[id]]"><img src="[[image]]" /><span>[[likes]] [[comments]]</span></a>',
    sortBy: 'most-recent',
    limit: 7,
    links: false
  });
  userFeed.run();
</script>
    
<div id="instafeed"></div>