<section class="container  local-events">
           <div class="table-eq">
                <div class="left-cell">
                       <div class="bg-img" style="background:url(/images/homepage/attractions/dancing.jpg) top left no-repeat; background-size:cover;">
                       </div>
                      <div class="all-block">
                        <h1 class="heading2">LOCAL EVENTS</h1>
                       <div class="btn-holder text-center">
                        <a href="/events/" class="butn btn-white uppercase">
                            Discover all Events
                        </a>
                       </div>
                      </div>
                </div>
                <div class="right-cell bg-dark">  
                     
                     <ul class="latest-events">
                       <li>
                          <div class="event-details">
                             <span class="event-type">Event 01</span>
                             <span class="event-date-time">Tue Dec 20  |  10:00 am</span>
                          </div>
                          <h3>UNION SQUARE ICE RI</h3>
                       </li>
                       <li>
                          <div class="event-details">
                             <span class="event-type">Event 01</span>
                             <span class="event-date-time">Tue Dec 20  |  10:00 am</span>
                          </div>
                          <h3>UNION SQUARE ICE RI</h3>
                       </li>
                       <li>
                          <div class="event-details">
                             <span class="event-type">Event 01</span>
                             <span class="event-date-time">Tue Dec 20  |  10:00 am</span>
                          </div>
                          <h3>UNION SQUARE ICE RI</h3>
                       </li>
                     </ul>     
                     
                </div> 
           </div>
</section>