<section class="container offers-wrapper">
      <h4 class="text-center">Stanford Court Specials</h4>
      <h1>enjoy our unique offers</h1>
      <div class="btn-holder text-center">
       <a class="butn  uppercase" href="/specials/">
           Discover all offers
       </a>
      </div>
</section>
<section  rt3-special-rates= "offers"  >
    <div class="container-fluid">
      <div class="row">
         <div class="col-sm-4 offers-card" ng-repeat="offer in offers.special_rates | limitTo:3 ">
         <div class="background" ng-style="{'background-image': 'url([[offer.lead_photo_url.yankee_large]])'}"></div>
            <span class="item_no">[[$index +1]]</span>a
            <div class="info">
            <a ng-href="/special/#[[offer.rate_plan_name | formatNameForLink]]"><h2 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h2></a>
            </div>
         </div>


       </div>
    </div>
</section>
