<section class="container offers-wrapper">
      <h4 class="text-center">Stanford Court Specials</h4>
      <h1>enjoy our unique offers</h1>
      <div class="btn-holder text-center">
       <a class="butn  uppercase">
           Discover all offers
       </a>
      </div>
</section>
<section>
    <div class="container-fluid">
      <div class="row">
         <div class="col-sm-4 offers-card">
         <div class="background" style="background-image: url('/images/homepage/offers/1.jpg');"></div>
            <div class="info">
            <h2>TREAT YOURSELF</h2>
            </div>
         </div>
         <div class="col-sm-4 offers-card"> 
         <div class="background"  style="background-image: url('/images/homepage/offers/2.jpg');"></div>
            <div class="info">
            <h2>bed & Breakfast</h2>
            </div>
         </div>
         <div class="col-sm-4 offers-card">
         <div class="background"  style="background-image: url('/images/homepage/offers/3.jpg');"></div>
            <div class="info">
            <h2>california resident rate</h2>
            </div>
         </div>

       </div>
    </div>
</section>