<section class="container save-the-children-include">
  <div class="row">

    <div class="col-md-3">
      <img class="img-responsive" src="/images/save-the-children-logo.png" alt="Save The Children">
    </div>

    <div class="col-md-6">
      <div class="description-center">
        <h2>DONATE TODAY & MAKE A DIFFERENCE</h2>
        <p>100% of your donation benefits Save The Children. Thank you for your support.</p>
      </div>
    </div>

    <div class="col-md-3 btn-holder">
      <a href="/charities/" class="butn btn-wide uppercase">MORE INFO</a>
    </div>

  </div>
</section>
