<section class="container save-the-children-include">
  <div class="row">

    <div class="col-md-3">
      <img class="img-responsive" src="/images/save-the-children-logo.png" alt="Save The Children">
    </div>

    <div class="col-md-6">
      <div class="description-center">
        <h5>DONATE TODAY & MAKE A DIFFERENCE</h5>
        <p>100% of your donation benefits Save The Children. Thank you for your support.</p>
      </div>
    </div>

    <div class="col-md-3 btn-holder">
      <a href="https://secure.savethechildren.org/site/c.8rKLIXMGIpI4E/b.6239401/k.C01C/Global_Action_Fund/apps/ka/sd/donor.asp" target="_blank" class="butn btn-wide uppercase">MORE INFO</a>
    </div>

  </div>
</section>
