.amenities-banner{
		    margin-top: 0px;
		    
	.banner-inner{

			padding: 45px 0px 85px 0px;

		h3{

			    padding: 87px 15px;
		}
	}
}

.amenities-list{

	ul {
			color: #575757;
		    line-height: 32px;
		    list-style: none;
		li{
			background: url(/images/next-gray-arrow-hover.svg) left top;
		    background-position-y: 8px;
		    background-size: 27px;
		    text-decoration: none;
		    background-repeat: no-repeat;
		    padding-left: 42px;
		    text-align:left;

		}
	}

	}