@font-face {
    font-family: 'BebasNeue Bold';
    src: url('/fonts/bebas/BebasNeue Bold.eot'), url('/fonts/bebas/BebasNeue Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue Book';
    src: url('/fonts/bebas/BebasNeue Book.eot'), url('/fonts/bebas/BebasNeue Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue Light';
    src: url('/fonts/bebas/BebasNeue Light.eot'), url('/fonts/bebas/BebasNeue Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue Regular';
    src: url('/fonts/bebas/BebasNeue Regular.eot'), url('/fonts/bebas/BebasNeue Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF Black';
    src: url('/fonts/gotham/GothamHTF-Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF BlackItalic';
    src: url('/fonts/gotham/GothamHTF-BlackItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF Light';
    src: url('/fonts/gotham/GothamHTF-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF Bold';
    src: url('/fonts/gotham/GothamHTF-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF Book';
    src: url('/fonts/gotham/GothamHTF-Book.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF Medium';
    src: url('/fonts/gotham/GothamHTF-Medium.otf');
    font-weight: normal;
    font-style: normal;
}