@font-face {
  font-family: 'BebasNeue Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bebas/bebasneue_bold.eot'), url('../fonts/bebas/bebasneue_bold.eot?#iefix') format(‘embedded-opentype’), url('../fonts/bebas/bebasneue_bold.woff') format('woff'),  url('../fonts/bebas/bebasneue_bold.ttf') format(‘truetype’);
}
@font-face {
  font-family: 'BebasNeue Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bebas/bebasneue_book.eot'), url('../fonts/bebas/bebasneue_book.eot#iefix') format(‘embedded-opentype’), url('../fonts/bebas/bebasneue_book.woff') format('woff'), url('../fonts/bebas/bebasneue_book.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bebas/bebasneue_light.eot'), url('../fonts/bebas/bebasneue_light.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas/bebasneue_light.woff') format('woff'), url('../fonts/bebas/bebasneue_light.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bebas/bebasneue_regular.eot'), url('../fonts/bebas/bebasneue_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas/bebasneue_regular.woff') format('woff'), url('../fonts/bebas/bebasneue_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamHTF Black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/gothamhtf-black.eot'), url('../fonts/gotham/gothamhtf-black.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gothamhtf-black.woff') format('woff'), url('../fonts/gotham/gothamhtf-black.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamHTF BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/gothamhtf-blackitalic.eot'), url('../fonts/gotham/gothamhtf-blackitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gothamhtf-blackitalic.woff') format('woff'), url('../fonts/gotham/gothamhtf-blackitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamHTF Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/gothamhtf-light.eot'), url('../fonts/gotham/gothamhtf-light.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gothamhtf-light.woff') format('woff'), url('../fonts/gotham/gothamhtf-light.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamHTF Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/gothamhtf-bold.eot'), url('../fonts/gotham/gothamhtf-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gothamhtf-bold.woff') format('woff'), url('../fonts/gotham/gothamhtf-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamHTF Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/gothamhtf-book.eot'), url('../fonts/gotham/gothamhtf-book.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gothamhtf-book.woff') format('woff'), url('../fonts/gotham/gothamhtf-book.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamHTF Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/gothamhtf-medium.eot'), url('../fonts/gotham/gothamhtf-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gothamhtf-medium.woff') format('woff'), url('../fonts/gotham/gothamhtf-medium.ttf') format('truetype');
}
