.gallery-wrapper{ 
	padding:0 0 0 0;
	@media (min-width: $screen-md-min) {   
		padding:0 0 0 0;
 	}
	.gallery-listing{
		padding:0 0 10px 0;
		@media (min-width: $screen-md-min) {   
			padding:0 0 30px 0;
		}
			
	}
	
	.button-common {
				font-family:$base-font-family;
				border: solid 1px #232525;
				color: #232525;
				transition: all 0.4s;
				font-size: 12px;
				letter-spacing: 4px;
				padding: 8px 19px;
					&:hover {
						background-color: #232525;
						color: #fff;
					}
			}
	
	.gallery-wrap{ 
 		margin: 0 auto;
		@media (min-width: $screen-lg-min) {
			padding-left:0px;
			padding-right:0px;
		}
 		ul{
			list-style:none;
			padding:0px;
			margin-top:0px;
			margin-bottom:0px;
		}
  	.item { 
			display: inline-block; 
    	margin: 0 0px 30px ;
			float:left;
		}
		.item+.item { 
				@media (min-width: $screen-sm-min) {   
				margin: 0 0px 0px ; 
				}
		}
	}
 
}

.gallery-nav{
		padding:20px 0 25px 0;
		margin:0px;
		text-align:center;
		list-style:none;
		font-family:$base-font-family;
		letter-spacing:1px;
		font-size:12px;
		li{
			display:inline-block;
			position: relative;
				@media (min-width: $screen-sm-min) {
					padding:0px 35px 0 0;
					letter-spacing:2px;
				&:after {
					position: absolute;
					content: "";
					width: 32px;
					height: 1px;
					background-color: #232525;
					right: 0;
					top: 50%;
				}
				&:last-child {
					&:after {
						content: normal;
					}
				}
				}
		
			a{
				padding: 10px 10px 10px 8px;
				display:inline-block;
				text-decoration:none;
				color:#232525;
				&.active{
					text-decoration:none;
					color: #232525;
					font-family:$base-font-family;
					
				}
			} 
		}
	}
	
.play-icon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 70px !important;
    margin: 0 auto;
    transition: all 0.3s;
	text-align: center;
    padding: 27px 30px;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    height: 70px; box-shadow:0 1px 10px rgba(0,0,0,0.3);
	i{ font-size:18px; color:#000;}
	&:hover{background: rgba(255,255,255,0.7);transition: all 0.3s;}
}
@media (max-width: $screen-sm-min) {
	.m-b-m-30{ margin-bottom:30px;}

}


//offers gallery click styles

.lg-sub-html{
	padding: 30px 10px;
	 width: 400px;
	 min-height: 200px;
	 max-width: 100%;
	 left: 30% !important;
	 bottom: calc(50% - 50px) !important;
	 left: calc(50% - 200px)  !important;
	 background-color: rgba(255,255,255,0.8) !important;
	 color: #000 !important;
	 z-index: 1070;
	 h4{
	 	padding-top: 10px;
	 	font-weight: 300;
	 	font-family: $base-font-family1;
	 	color: $secondary-color;
	 	font-size: 12px;
	 	letter-spacing: 1px;
	 	padding-bottom: 20px;

	 }
	 h3{
	 	 font-family: 'GothamHTF Medium';
 	     font-size: 24px;
 	     padding: 0;
 	     margin-top: 0px;
 	     text-transform: uppercase;
	 }
	 p{
	 	margin-top: 10px;
	 	padding-bottom: 1rem;
	 }
	 a{
	 	margin-top:10px;
	 	&.btn-od-form{
	 		border: 1px solid $black;
	 		margin-top: 1rem;
	 		padding: 1rem 2rem;
	 		text-align: center;
	 		color: $black;
	 		transition: all 0.3s ease;
	 		&:hover{
	 			background-color: $secondary-color;
	 			text-decoration: none;
	 			color: $white;
	 		}
	 	}
	 }

}