.no-gutter{
	
	padding:0px;
}


.rooms-banner {
    padding: 76px 0px 79px 0px;

    .banner-inner{
        margin-left: 15px;
	    width: 95%;
	    margin-top: 13px;

	    h3{

	        text-transform: uppercase;
		    font-size: 14px;
		    word-spacing: 1px;
		     @media( min-width: $screen-xs-min){
			font-size: 17px;
		     }
	    }

	    h1{
			font-weight: 700;
		    font-size: 22px;
		    margin-top: 14px;
		    font-family: "GothamHTF Medium", Helvetica, Arial, sans-serif;
		    @media( min-width: $screen-xs-min){
		     font-size: 42px;
		     }
	    }
	    p{

			font-family: "GothamHTF Medium", Helvetica, Arial, sans-serif;
		    padding-top: 23px;
		    line-height: 24px;
	    }

	    @media( min-width: $screen-sm-min){
	 	 margin-left: 90px;
	    max-width: 395px;
	    margin-top: 26px;
	 } 
    }
     @media( min-width: $screen-sm-min){
      padding: 76px 0px 79px 0px
     }
}

.rooms-list-nav{
	background:rgba(255, 255, 255, 0.85);
	border-top: 1px solid #ebebeb;
	 margin-top: 102px;
	 color: $darkgrey;
	 transition: all 0.5s ease;
	 text-align:center;
	 .container{ 
	 	position: relative;}
	 @media( max-width: $screen-md-max){
	 	margin-top: 80px;
	 } 
	
	 

	 ul{
	 	list-style-type: none;
	 	margin-top: 17px;
	 	transition: all 0.5s ease; 
	 	@media( max-width: $screen-md-max){
	 		margin-top: 17px;
	 		padding-left: 10px;

	 	}
	 	
	 	 li{
	 	 	 text-transform: uppercase;
	 	 	 font-family: 'BebasNeue Regular', Helvetica, Arial, sans-serif;
	 	 	 line-height: 16px;
	 	 	 font-size: 16px;
	 	 	 display:inline-block;
	 	 	 transition: all 0.5s ease;
	 	 	a{
	 	 		color: $darkgrey;
	 	 		padding: 0px 15px;
	 	 		letter-spacing: 0.2em; 
	 	 		text-align: center;
	 	 		display: block;
	 	 		line-height: 34px;
	 	 		@media( min-width: $screen-md-min){
		 	 		color: $darkgrey;
		 	 		padding: 0px 15px;
		 	 		letter-spacing: 0.1em;
		 	 		
		 	 		display: inline-block;
		 	 		line-height: 15px;
	 	 	    }
	 	 		transition: all 0.5s ease; 
	 	 		@media( max-width: $screen-md-max){
	 	 			letter-spacing: 0.05em;
	 	 			padding: 0px 10px;
	 	 		}
	 	 		
	    	  	 &.active, &:hover{
	    	  	 	 color: #161515;
	    	  	 }
	 	 	}
	 	 	&:last-child{
	 	 		a{
	 	 			border-right: 0px;
	 	 		}
	 	 	}
	 	 }
	 }
     
	 &.smaller{
	 	  height: 60px;
	 	 .navbar-brand{
	 	 	padding: 10px 15px;
             img{
             	 width: 140px;
             }
	 	 }
	 	 ul{
	 	 	margin-top: 18px;
	 	 }
	 	 .btn-booknow{
	 	 	top: -2px;
	 	 }
	 	 .navbar-toggler{
	 	 	 margin-top: 16px;
	 	 }
	 	 .collapse.in{
	 	 	margin-top: 60px;
	 	 }
	 }
	
}

.rooms-nav-fixed-top,
.rooms-nav-fixed-bottom {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
}





.rooms-list{
.col-md-4{
	padding-bottom:31px;
}


	img{ width:100%}
	h2{
		 font-family: $headline-font-family;
		 color: $darkgray-color;
		 text-transform: uppercase;
		 font-size: 26px;
    	 padding: 30px 0px;
		 text-align:center;
		 border-top:1px solid #ebebeb;
		 letter-spacing: 2px;
    	 word-spacing: 2px;
    	 margin:0px;
    	  @media( min-width: $screen-sm-min){
    	  font-size:36px;
		  padding:47px 0px 40px 0px;

    	  }
    	 

	}
	

	.btn-holder{
		  position:absolute;
		  bottom: 55.5%;
    	  transform: translateY(-55.5%);
		  text-align:center;
		  width:240px;
		  right:0;
		  left:0;
		  padding:0px;
		  margin:auto;
		.butn{
				border: 1px solid black;
				color: black;
				padding: 12px 20px;  
				font-size: 11px; 
				text-decoration: none;
				letter-spacing: 3px; 
				transition: all 0.5s ease; 
				width: auto;
				text-decoration: none;
				@media(min-width: $screen-md-min){
					padding: 20px 40px;  
				    font-size: 13px;
				}
				&:hover{
					background: #5c6f7b;
					border: 1px solid #5c6f7b;
					color: #fff;
					text-decoration: none;
					cursor: pointer;
				}
			&.uppercase{
				 text-transform: uppercase;
			}
			&.btn-white{
				border: 1px solid white;
				color: white;
				&:hover{
					background: white;
					border: 1px solid white;
					color: #5c6f7b;
				}
			}
		}
		&.center-white{
	             position: absolute;
			     bottom: 0;
			     left: 50%;
			     transform: translate(-50%, 51%); 
			     .butn{
			     	background: white;
			        border: 0px;
			        &:hover{
			        	 background: #5c6f7b;
			        	 color: white;
			        	 border: 0px;
			        }
			     }
		}

	}


	.r-cost{
		padding:30px 14px 5px 14px;
		font-family:$base-font-family;
		font-size:15px;
		color:#575757;
        a {
            text-decoration: none;
            color: $black ;
            &.active, &:hover{
            text-decoration: none;
            color: $black ;
            opacity: .7;
          }
        }
	}

	.r-link{
		padding:4px 14px 4px 14px;
		font-family:$base-font-family1;
		font-size:15px;

		a{
		background:url(/images/black-arrow.svg) right center;
		text-decoration: none;
	    background-repeat: no-repeat;
		padding-right:80px;
	    color:$darkgray-color;
	    text-decoration:none;
		    &:hover{
		    text-decoration:none;
		    }
		}
	}	

}
/*instacol*/
.instagramimg{
	.img-responsive {
		height: 150px;
		/*margin-bottom: 30px;*/
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.row{
		/*margin-top: 60px;*/
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.instacol{
		a{
			:hover{
				opacity: 0.8;
			}
		}
		.col-md-1 {
			padding-left: 0px !important;
			padding-right: 0px !important;
			}
		.col-sm-3 {
			padding-left: 0px !important;
			padding-right: 0px !important;
			} 
		.col-xs-2{
			padding-left: 0px !important;
			padding-right: 0px !important;
			} 
		}
	}
.instagram{
	padding-left: 0px;
	padding-right: 0px;
	.insta-wrapper{
		padding-left: 0px;
		padding-right: 0px;
		.col-sm-3{
			padding-left: 0px;
			padding-right: 0px;
		}
			.sharelove{
				h4{
					background-color: $darkgrey;
					a{
						color: #FFFFFF;
						&:hover{
							color: #FFFFFF;
						}
					}
				}
				/*text-align: left;*/
			}
		}
	}