.save-the-children {
  margin-top: 40px;

  img {
    margin-top: 20px;
  }

  .btn-holder {
    padding-right: 0;
    padding-left: 0;
  }

}

.save-the-children-include {
  margin-top: 40px;

  .row {
    align-items: center;
    .description-center{
      h5{
        font-size: 30px;
      }
    }
  }

}
.w-70{
  width: 70%;
}
.w-index{
  width: 291px !important;
}