.special-banner {
    padding: 76px 0px 79px 0px;

    .banner-inner{
        margin-left: 15px;
	    width: 95%;
	    margin-top: 13px;

	    h3{

	        text-transform: uppercase;
		    font-size: 14px;
		    word-spacing: 1px;
		     @media( min-width: $screen-xs-min){
			font-size: 17px;
		     }
	    }

	    h1{
			font-weight: 700;
		    font-size: 22px;
		    margin-top: 14px;
		    font-family: "GothamHTF Medium", Helvetica, Arial, sans-serif;
		    @media( min-width: $screen-xs-min){
		     font-size: 42px;
		     }
	    }
	    p{

			font-family: "GothamHTF Medium", Helvetica, Arial, sans-serif;
		    padding-top: 23px;
		    line-height: 24px;
	    }

	    @media( min-width: $screen-sm-min){
	 	 margin-left: 87px;
	    max-width: 404px;
	    margin-top: 26px;
	 }
    }
     @media( min-width: $screen-sm-min){
      padding: 155px 0px 60px 0px
     }
}




.special{
	.col-md-6{
		padding-bottom:68px;
	}

	a{

		 &:hover{
		 	color:#fff;
		  	/*text-decoration:none;*/
		  }
	}

	img{ width:100%}
	h2{
		 font-family: $headline-font-family;
		 color: $darkgray-color;
		 text-transform: uppercase;
		 font-size: 26px;
    	 padding: 30px 0px;
		 text-align:center;
		 border-top:1px solid #ebebeb;
		 letter-spacing: 2px;
    	 word-spacing: 2px;
    	 margin:0px;
    	  @media( min-width: $screen-sm-min){
    	  font-size:36px;
		  padding:47px 0px 40px 0px;

    	  }


	}

	h3{


		  text-align:center;
		  max-width:310px;
		  font-family: $headline-font-family;
		  right:0;
		  left:0;
		  padding:0px;
		  margin:auto;
		  text-transform:uppercase;
		  color: #FFF;
		  font-size: 35px;
		  word-spacing: 10px;
		  letter-spacing: 1px;
		  line-height: 38px;

		  @media(min-width: $screen-sm-min){

		   font-size: 45px;
		   max-width:318px;
		   line-height: 58px;
		  }

		  &:hover{


		  }
	}

	.wider{
		  max-width:318px;
		  font-family: $headline-font-family;
		  right:0;
		  left:0;
		  padding:0px;
		   line-height: 38px;
		   @media(min-width: $screen-sm-min){
 			 max-width:510px;
 			  line-height: 58px;
			}
	}
	.wider-max{

		  font-family: $headline-font-family;
		  right:0;
		  left:0;
		  padding:0px;
		   max-width:318px;
		    line-height: 38px;
		  @media(min-width: $screen-sm-min){
		    max-width:336px;
		      line-height: 58px;
		}

	}


	.s-p{
		padding: 30px 14px 5px 16px;
		font-family:$base-font-family;
		font-size:15px;
		color:#575757;
		max-width:320px;
		width:auto;
		min-height:81px;
		p{
		margin-bottom:0px;
		}
		 @media( min-width: $screen-sm-min){
		 max-width:555px;
		 min-height:81px;
		 }

	}

	.s-link{
		padding:4px 14px 4px 14px;
		font-family:$base-font-family1;
		font-size:14px;

		a{
		background:url(/images/gray-arrow.svg) right 0px;
		background-size:30px;
		text-decoration: none;
	    background-repeat: no-repeat;
		padding-right:52px;
	    color:$darkgray-color;
	    text-decoration:none;
	     transition: all 0.5s ease;
	    &:hover{
		    text-decoration:none;
		    color:$darkgrey;
		    background:url(/images/gray-arrow.svg) right -18px;
			background-size:30px;
		    background-repeat: no-repeat;
		   }
		}
	}

}
.blockbox {
	        ul{
		          li{
			            color: white;
		              }
	             }
              }
.promos-btn{
  margin: 0 10px;
}
