---
excerpt: stanfordcourt.com
parent: events
child: culture
title_localized:
  en: San Francisco Attractions and Things to do | Stanford Court
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: 
meta_description_localized:
  en: There are so many things to see and do in San Francisco, that it may be hard
    to know where to start. For your convenience, we have highlighted a few of our
    favorites.
meta_keywords_localized:
  en: 
---
<div class="container">
     <div id="top-spacer">
     </div>
</div>

<div class="container">
    {% include attractions-nav.html %}
</div>


<section class="container attraction-wrapper">
      <div class="row no-gutter">
        <div class="col-sm-6 no-padding clearfix">
          <div class="short-description">
                <h4> San Francisco</h4>
                <h2 class="title">Local Attractions</h2>
                <p class="short-detail"><strong>There are so many things to see and do in San Francisco, that it may be hard to know where to start. For your convenience, we have highlighted a few of our favorites.</strong> </p>
          </div>
      </div>
     </div>
     <div class="row no-gutter">
        <div class="col-md-12 main-image clearfix">

           <div class="div-overlay"  style="background-image:url(/images/attractions/culture.jpg)">
            <div class="title-container">
                <h1 class="title2">Culture</h1>
                <h4 class="heading4">dive into San Francisco</h4>
            </div>

            <div class="description">
                <h1 class="title">Arts and Culture</h1>
                <p><strong>Drawing from an expansive understanding of San Francisco travel, we’ve found some of what visitors enjoy includes museums, the outdoors, fun activities for the kids, and the theatre. Going to museums is one of few things to do in San Francisco that consciously and informatively connects visitors to the city’s thriving and unique culture. </strong></p>

                 <p> The Asian Art Museum, The Walt Disney Family Museum and The Cartoon Art Museum are amongst the most popular San Francisco arts and culture destinations for visitors beginning their exploration of what makes this city so special. In addition to the museums’ fascinating cultural collections, San Francisco’s artistic attractions stretch to the outdoors.</p>

                 <p> We invite you to enjoy the breadth of San Francisco arts and culture and see first-hand what all the hype is about.</p>
            </div>
           </div>
        </div>
      </div>
</section>


<section class="container">

   <div class="table-eq">
                   <div class="left-cell">
                         <div id="activitySlider" class="carousel slide">
                           <!-- Indicators
                           <ol class="carousel-indicators carousel-vindicators-numbers">
                             <li data-target="#activitySlider" data-slide-to="0" class="active">01</li>
                             <li data-target="#activitySlider" data-slide-to="1">02</li>
                             <li data-target="#activitySlider" data-slide-to="2">03</li>
                           </ol> -->

                           <!-- Wrapper for slides -->
                           <div class="carousel-inner" role="listbox">
                             <div class="item active">
                               <img src="/images/attractions/shanghai-art-museum.jpg" alt="...">
                             </div>

                           </div>

                         </div>
                   </div>
                   <div class="right-cell bg-dark">
                           <div class="content activity">
                           <h2 class="title">Featured Activity</h2>
                           <h4 class="uppercase heading4">The Asian Art Museum</h4>
                           <hr align="left">
                           <p>The Asian Art Museum of San Francisco is the largest museum located outside of Asia that is dedicated exclusively to Asian art. It is housed in a Beaux-Arts masterpiece.  </p>
                           <p class="arrow-link">
                            <a href="http://www.asianart.org/" target="_blank">Read More</a>
                           </p>

                           </div>
                   </div>
              </div>

</section>
<section class="container-fluid culture-banner more-activities">
  <h2 class="title light"> Browse More Cultural Activities</h2>
<div class="row no-gutter attrcation-cards">
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder first-holder">
               <img src="/images/attractions/museum.jpg" class="img-responsive"  alt="asian museum">
               <h4>De Young</h4>
           </div>
           <div class="details">
              <h3>Museums</h3>
              <p>The Asian Art Museum <br> Walt Disney Family Museum <br> The Cartoon Art Museum</p>
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder">
               <img src="/images/attractions/Japanese-Tea-Garden.jpg" class="img-responsive"  alt="Japanese Tea Garden">
               <h4>Japanese Tea Garden</h4>
           </div>
           <div class="details">
              <h3>Outdoors</h3>
              <p>North Beach Food Tour<br> Strybing Arboretum <br>Japanese Tea Gardens <br> Fortune Cookie Tour</p>
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder">
               <img src="/images/attractions/pink-bird.jpg" class="img-responsive"  alt="pink bird">
               <h4>San Francisco Zoo</h4>
           </div>
           <div class="details">
              <h3>Kids</h3>
              <p> The Exploratorium <br> California Academy of Sciences <br> San Francisco Zoo <br> Children’s Creativity Museum </p>
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
        <div class="card">
            <div class="img-holder">
               <img src="/images/attractions/theater.jpg" class="img-responsive" alt="American Conservatory">
               <h4>American Conservatory</h4>
           </div>
           <div class="details">
              <h3>Theater/Live</h3>
                  <p>Beach Blanket Babylon <br>
                  American Conservatory <br>
                  San Francisco Opera <br>
                  Broadway Shows
                  </p>
           </div>
        </div>
    </div>
</div>

<div class="row no-gutter">
 <div class="special-details-banner" style="background-image:url(/images/attractions/food-plate.jpg)">
    <div class="special-content">
      <h2>discover more exciting  san Francisco activities</h2>
      <h3>Culinary</h3>

      <div class="btn-holder">
        <a href="/attractions/culinary"  class="butn btn-white uppercase bgwhite-btn">
          View this activity
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
{% include local-events.html %}
