---
layout: default
title: StanfordCourt - Retail
excerpt: stanfordcourt.com
parent: events
child: retail
---

<div class="container">
     <div id="top-spacer">
     </div>
</div> 

<div class="container"> 
    {% include attractions-nav.html %}
</div>


<section class="container attraction-wrapper">
      <div class="row no-gutter">
        <div class="col-sm-6 no-padding clearfix">
          <div class="short-description">
                <h4> San Francisco</h4>
                <h2 class="title">Local Attractions</h2>
                <p class="short-detail"><strong>There are so many things to see and do in San Francisco, that it may be hard to know where to start. For your convenience, we have highlighted a few of our favorites.</strong> </p>
          </div>
      </div>  
     </div>
     <div class="row no-gutter">
        <div class="col-md-12 main-image clearfix">
        
           <div class="div-overlay"  style="background-image:url(/images/attractions/retail-banner.jpg)">
            <div class="title-container">
                <h1 class="title2">Retail</h1>
                <h4 class="heading4">dive into San Francisco</h4>
            </div>

            <div class="description">
                <h1 class="title">Local Shopping</h1>
                <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </strong></p>

                 <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
           </div>
        </div>   
      </div>
</section>  


<section class="container">

   <div class="table-eq">
                   <div class="left-cell">
                         <div id="activitySlider" class="carousel slide">
                           <!-- Indicators --> 
                           <ol class="carousel-indicators carousel-vindicators-numbers">
                             <li data-target="#activitySlider" data-slide-to="0" class="active">01</li>
                             <li data-target="#activitySlider" data-slide-to="1">02</li>
                             <li data-target="#activitySlider" data-slide-to="2">03</li>
                           </ol>

                           <!-- Wrapper for slides -->
                           <div class="carousel-inner" role="listbox">
                             <div class="item active">
                               <img src="/images/attractions/reading.jpg" alt="...">
                             </div>
                             <div class="item">
                               <img src="/images/attractions/reading.jpg" alt="...">
                             </div>
                             <div class="item">
                               <img src="/images/attractions/reading.jpg" alt="...">
                             </div>
                           </div>
                         
                         </div> 
                   </div>
                   <div class="right-cell bg-dark">  
                           <div class="content activity">
                           <h2 class="title">Featured Activity</h2> 
                           <h4 class="uppercase heading4">City Lights Bookstore</h4>   
                           <hr align="left"> 
                           <p>The historic City Lights Bookstore is a literary staple in San Francisco and the greater California arts community. We are consistently referring guests to City Lights.  </p>
                           <p class="arrow-link">
                            <a href="">Read More</a>
                           </p>

                           </div> 
                   </div> 
              </div>

</section>
<section class="container-fluid culture-banner more-activities">
  <h2 class="title light"> Browse More Retail Activities</h2>
<div class="row no-gutter attrcation-cards">
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder first-holder">
               <img src="/images/attractions/levis.jpg" class="img-responsive"  alt="levis">
               <h4>Levi’s</h4>
           </div>
           <div class="details">
              <h3>Local Fashion</h3>
              <p> 
Wilkes-Bashford<br />
Levi’s<br />
Chrome<br />
Wing Tip  
</p> 
           </div>
       </div>
    </div>
    
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder">
               <img src="/images/attractions/mocys.jpg" class="img-responsive"  alt="mocys Union Square">
               <h4>Union Square</h4>
           </div>
           <div class="details">
              <h3>Districts</h3>
              <p> 
Union Square<br /> 
Fillmore<br /> 
Haight-Ashbury<br /> 
Hayes Valley


 </p> 
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
        <div class="card">
            <div class="img-holder">
               <img src="/images/attractions/bookinhand.jpg" class="img-responsive" alt="Bookshop">
               <h4>Bookshop</h4>
           </div>
           <div class="details">
              <h3>Books</h3>
              <p>

Green Apple<br /> 
Chronicle Books<br /> 
Dog-Eared Books





</p> 
           </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder">
               <img src="/images/attractions/music.jpg" class="img-responsive"  alt="music">
               <h4>Music</h4>
           </div>
           <div class="details">
              <h3>Music</h3>
              <p> Amoeba Music<br />
Rasputin Music<br />
Aquarius Records<br />
Sunset Music Company  
              </p> 
           </div>
       </div>
    </div>
</div>

<div class="row no-gutter">
 <div class="special-details-banner" style="background-image:url(/images/attractions/sf-site.jpg)">
    <div class="special-content">
      <h2>discover more exciting  san Francisco activities</h2>
      <h3>SF Sites</h3>
       
      <div class="btn-holder">
        <a href="/events/san-francisco-sites/" class="butn btn-white uppercase bgwhite-btn">
          View this activity
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
{% include local-events.html %}
 