---
excerpt: stanfordcourt.com
parent: events
child: san-francisco-sites
title_localized:
  en: San Francisco Attractions | Places to visit in San Francisco
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: 
meta_description_localized:
  en: Dive into San Francisco whilst staying with Stanford Court. Endless world-renowned
    destinations are at your fingertips, from iconic landmarks to hidden gems.
meta_keywords_localized:
  en: 
---
<div class="container">
     <div id="top-spacer">
     </div>
</div> 

<div class="container"> 
    {% include attractions-nav.html %}
</div>


<section class="container attraction-wrapper">
      <div class="row no-gutter">
        <div class="col-sm-6 no-padding clearfix">
          <div class="short-description">
                {% regionblock heading %} 
                <h4> San Francisco</h4>
                <h2 class="title">Local Attractions</h2>
               {% endregionblock %} 
                {% regionblock maintext %}
                <p class="short-detail"><strong>There are so many things to see and do in San Francisco, that it may be hard to know where to start. For your convenience, we have highlighted a few of our favorites.</strong> </p>
                {% endregionblock %} 
          </div>
      </div>  
     </div>
     <div class="row no-gutter">
        <div class="col-md-12 main-image clearfix">
        
           <div class="div-overlay"  style="background-image:url(/images/attractions/sf-sites-banner.jpg)">
            <div class="title-container">
                {% regionblock subheading %} 
                 <h1 class="title2">SF sites</h1>
                <h4 class="heading4">dive into San Francisco</h4>
                {% endregionblock %}
            </div>

            <div class="c-description">
                {% regionblock title %}<h1 class="title">SF Sites</h1>{% endregionblock %}
                {% regionblock details %}<p><strong>Endless world-renowned destinations are at your fingertips. From iconic landmarks to hidden gems, unleash your inner traveler  </strong></p>{% endregionblock %}

                 
            </div>
           </div>
        </div>   
      </div>
</section>  


<section class="container">

   <div class="table-eq">
                   <div class="left-cell">
                         <div id="activitySlider" class="carousel slide">
                           <!-- Indicators 
                           <ol class="carousel-indicators carousel-vindicators-numbers">
                             <li data-target="#activitySlider" data-slide-to="0" class="active">01</li>
                             <li data-target="#activitySlider" data-slide-to="1">02</li>
                             <li data-target="#activitySlider" data-slide-to="2">03</li>
                           </ol>--> 

                           <!-- Wrapper for slides -->
                           <div class="carousel-inner" role="listbox">
                             <div class="item active">
                               <img src="/images/attractions/marin.jpg" alt="...">
                             </div>
                            
                           </div>
                         
                         </div> 
                   </div>
                   <div class="right-cell bg-dark">  
                           <div class="content activity">
                           {% regionblock featuredtitle %}<h2 class="title">Featured Activity</h2> 
                           <h4 class="uppercase heading4">Marin Headlands</h4>   
                            {% endregionblock %}   
                           <hr align="left"> 
                           {% regionblock  featuredtext %}
                           <p>Explore a vast, beautiful and diverse wilderness, known as the crown jewel of the Golden Gate National Parks, where you will find abundant natural wonder and remarkable historic sites. </p>
                           {% endregionblock %}   
                           <p class="arrow-link">
                             {% regionblock  featuredlink%}
                             <a href="http://www.parksconservancy.org/visit/park-sites/marin-headlands.html" target="_blank">Learn More
                            </a>
                            {% endregionblock %}   
                           </p>

                           </div> 
                   </div> 
              </div>

</section>
<section class="container-fluid culture-banner more-activities">
  <h2 class="title light"> Browse More SF Sites</h2>
<div class="row no-gutter attrcation-cards">
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder first-holder">
               <img src="/images/attractions/final-art.jpg" class="img-responsive"  alt="final art">
                <h4>Palace of Fine Arts</h4>
           </div>
           <div class="details">
              <h3>On Foot</h3>
              <p> 
                Land’s End/China Beach <br />
                Palace of Fine Arts <br />
                Fort Point/Golden Gate Bridge<br />
                Painted Ladies  
                </p> 
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder">
               <img src="/images/attractions/city.jpg" class="img-responsive"  alt="Bernal Heights">
               <h4>Bernal Heights Summit</h4>
           </div>
           <div class="details">
              <h3>On Wheels</h3>
              <p> 
                  Bernal Heights Summit<br />
                  City sightseeing<br />
                  Segway Tours   
              </p> 
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
       <div class="card">
           <div class="img-holder">
               <img src="/images/attractions/tree.jpg" class="img-responsive"  alt="stow lake">
               <h4>Stow Lake</h4>
           </div>
           <div class="details">
              <h3>On the Water</h3>
              <p>
                  Alcatraz<br />
                  Angel Island<br />
                  Ferry Tours<br />
                  Stow Lake 
                   </p> 
           </div>
       </div>
    </div>
    <div class="col-sm-6 col-md-3 no-padding">
        <div class="card">
            <div class="img-holder">
               <img src="/images/attractions/roadside.jpg" class="img-responsive" alt="Twin Peaks">
               <h4>Twin Peaks</h4>
           </div>
           <div class="details">
              <h3>From Above</h3>
              <p>
              Observation Tower@ de Young<br />
              Helicopter Tours<br />
              Twin Peaks<br />
              Coit Tower


</p> 
           </div>
        </div>
    </div>
</div>

<div class="row no-gutter">
 <div class="special-details-banner" style="background-image:url(/images/attractions/fitness-girl2.jpg)">
    <div class="special-content">
      <h2>discover more exciting  san Francisco activities</h2>
      <h3>FITNESS</h3>
       
      <div class="btn-holder">
        <a href="/attractions/fitness/" class="butn btn-white uppercase bgwhite-btn">
          View this activity
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
{% include local-events.html %}
 