<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
  <body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser" ng-cloak>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NH75VS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

   {% include header.html %}

        {{ content }}

      {% include footer.html %}
      {% include booking-widget.html %}
  </body>
</html>
